<div class="pad">
	<h1 class="bor-btm">Thay đổi thông tin</h1>
			
	<form action="" method="post" class="mar-top" id="FrmValidate">
		<table class="table mar-2top">
			<tr>
				<td width="130px">Tên đầy đủ:</td>
				<td>{$result.name}</td>
			</tr>
			<tr>
				<td>Ngày sinh:</td>
				<td>{$result.birthday}</td>
			</tr>
			<tr>
				<td>Giới tính:</td>
				<td>{$result.gender}</td>
			</tr>
			<tr>
				<td>Tỉnh thành:</td>
				<td>{$result.province}</td>
			</tr>
			<tr>
				<td>Số điện thoại</td>
				<td>{$result.phone}</td>
			</tr>
			<tr>
				<td>yahoo</td>
				<td>{$result.yahoo}</td>
			</tr>
			<tr>
				<td>Skype</td>
				<td>{$result.skype}</td>
			</tr>
			<tr>
				<td>Gold</td>
				<td>{$result.gold}</td>
			</tr>
			
		</table>
	</form>
</div>