/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 8, 2015, 10:07:31 AM
    Author     : Administrator
*/

.item-product{
    position: relative;
    float: left;
    width: 190px;
    margin-top: 20px;
    height: 250px;
    text-align: center;

}

.item-product:hover{
    box-shadow: 3px 3px 3px #dedede;
}

.item-product .img-tit{
    float: left;
    width: 100%;
    text-align: center;
}

.item-product .img-tit img{
    width: 160px;
    height: 160px;
}


.hide-box{
    position: absolute;
    top: -40px;
    left: -20px;
    padding-top: 20px;
    width: 250px;
    box-shadow: 3px 3px 3px #dedede;
    background: white;
    border: 1px #dedede solid;
    z-index: 9;
    padding-bottom: 0;
    display: none;
}

.item-product:hover > .hide-box{
    display: block;
}

.hide-box .img-tit{
    position: relative;
}

.hide-box .img-tit .favo{
    position: absolute;
    bottom: 5px;
    left: 25px;
    background: #dedede;
    width: 200px;
    padding: 5px 0px;
    opacity: 0.8;
    text-align: right;
    display: none;
}

.hide-box .img-tit .favo a{
    float: right;
    margin-right: 10px;
    color: #004B91;
}

.hide-box .img-tit .favo a:hover{
    color: #f40;
    text-decoration: underline;
}

.hide-box .img-tit .favo span{
    float: right;
}

.hide-box .desc p.min-order{
    padding: 7px 0px;
}

.hide-box .desc a:hover{
    color: #f40;
    text-decoration: underline;
}


.hide-box .desc .desc-a{
    color: #6CB6EE
}
.desc{text-align: center}
.hide-box .img-tit .favo .icon{
    display: inline-block;
    height: 14px;
    width: 14px;
    float: right;
    background: url('../images/ico-sprites.png') no-repeat;
    background-position: -166px -57px;
    margin-right: 10px;
}

.hide-box .img-tit img{
    width: 200px;
    height: 200px;
}

.hide-box .img-tit:hover > .favo{
    display: block;
}

.hide-box .bot{
    float: left;
    width: 80%;
    padding: 0% 10%;
    margin-top: 10px;
}


.hide-box .bot .icon{
    float: left;
    width: 20px;
    height: 20px;
    margin-top: 2px;
    margin-right: 5px;
    background: url('../images/alitalk.png') no-repeat;
}

.hide-box .bot a{
    float: left;
    color: #004b91;
    font-size: 12px;
}

.hide-box .bot a:hover{
    color: #f40;
}

.hide-box .bot a.contact-list{
    float: right;
}

.hide-box .bot a.contact-list i.icon{
    display: inline-block;
    margin-top: 7px;
    width: 0;
    height: 0;
    line-height: 0;
    border-width: 4px;
    border-style: dashed;
    border-color: transparent;
    vertical-align: middle;
    border-left-style: solid;
    border-left-color: #004B91;
    margin-left: 4px;
    float: right;
}

.hide-box .bot a.contact-list:hover > i.icon{
    border-left-color: red;
}


.showmore_content		{ position:relative; overflow:hidden; }			
.showmore_trigger 		{ width:100%; height:45px; line-height:45px; cursor:pointer; }
.showmore_trigger span	{ display:block; }


div.use-2{
    width: 1200px;
    margin:0 auto;
}

.text-search-2{
    width: 675px !important;
}

.text-search-2 input[type=text]{
    width: 100% !important;
}


div.position > p{
    color: #666;
    font-size: 12px;
    margin-top: 5px;
}

div.position > p span.mosaic{
    color: #000;
    font-weight: 700;
}

div.position p a{
    margin: 0px 10px;
}

div.position p a:hover
{
    color: #FF771C;
    text-decoration: underline;
}

div.position p a span.mosaic:hover{
    color: #FF771C;
}


div.category-left{
    width: 200px;
    float: left;
}

div.category-left h3{
  text-align: center;
  background: #f60;
  border-radius: 5px 5px 0 0;
  color: #fff;
  padding: 8px 0;
}

div.category-left > ul{
    margin-bottom: 20px;
    border:1px solid #ccc;
}

div.category-left ul li{
    display: block;
    border-bottom: 1px dotted #ccc;
}

div.category-left ul li a{
   
    
}

div.category-left ul li a h4{
    color: #666;
}

div.category-left ul li a h4:hover{
    color: #FF771C;
    text-decoration: underline;
}

div.category-left ul li span{
    float: none;
    font-size: 12px;
    color: #666;
}

div.category-left ul li.view-more a:hover{
    color: #FF771C;
    text-decoration: underline;
}

ul li.view-more span.arrow{
    display: inline-block;
    left: 5px;
    position: relative;
    top: -2px;
    width: 4px;
    height: 4px;
    border: 0 none;
    border-right: 2px solid #999;
    border-bottom: 2px solid #999;
    transform: rotate(45deg);
}

span.more,
span.less{
    color: #FF771C;
    font-size: 12px;

}

.box-container{
    width: 760px;
  float: left;
  padding: 0 20px;
}

.box-container .mosaic-search a{
    float: left;
}

.mosaic-search{
    width: 100%; float: left;

}

.mosaic-search span.search{
    position: relative;
}

.mosaic-search span.search input[type=text]{
    width: 64px;
    height: 24px;
    float: left;

}

.mosaic-search span.search input[type=text]:focus{
    width: 100px;
    box-shadow: none;
}


.mosaic-search span.search input[type=submit]{
    position: absolute;
    top: 0px; right: 0px;
    width: 26px;
    height: 25px;
    float: left;
    background: url('../images/ico-sprites.png') no-repeat ;
    background-position: -104px -22px;
    border: none;
    border-left: 1px #dae2ed solid;
}


div.product-tools{
    margin-top: 50px;
    width: 100%;
    float: left;
}

div.product-tools .box-tool{
    position: relative;
}

div.product-tools .box-tool .title{
    float: left;
    margin-right: 20px;
    position: absolute;
    top: -40px;
    left: 0px;
}

div.product-tools .box-tool .item{
    float: left;
    margin-right: 20px;
    position: absolute;
    top: -40px;
    left: 0px;

}

div.product-tools .box-tool .item a{
    line-height: 40px;
    padding: 11px 30px;
}

div.product-tools .box-tool .active{
    background: white;
    border: 1px #dedede solid;
    border-bottom: none;

}

div.product-tools .box-tool .inactive{
    background: #F5F7FA;
    border: 1px #dedede solid;
    top: -41px;
    left: 125px;
}

div.product-tools .tool-des{
    height: 40px;
    border: 1px #dedede solid;
}

div.tool-des{
    width: 100%; float: left;
}

div.tool-des .items{
    line-height: 40px;
    margin-left: 30px;
    font-size: 12px;
    color: #666;
    font-weight: 700;
    float: left;
}

div.items span{
    float: none !important;
}

div.tool-des .items ul li{
    float: left;
    margin-right: 10px;

}

div.tool-des .items ul li div.item-tool{
    height: 40px;
}

div.tool-des .items ul li div.item-tool input{
    float: left;
    margin-top: 14px;
}

div.tool-des .items ul li div.item-tool label{
    font-size: 12px;
    font-weight: 400;
}

div.tool-des .items ul li div.item-tool .fa-icon{
    width: 20px;
    height: 20px;
    float: left;
    margin-top: 12px;
    margin-left: 3px;
    margin-right: 3px;
}

div.tool-des .items ul li div.item-tool .assur{
    background: url('../images/ico-sprites.png') no-repeat ;
    background-position: -444px -81px;
}

div.tool-des .items ul li div.item-tool .gold{
    background: url('../images/ico-sprites.png') no-repeat ;
    background-position: -2px -42px;
}

div.tool-des .items ul li div.item-tool .onsite{
    background: url('../images/ico-sprites.png') no-repeat ;
    background-position: -68px -80px;
}

div.tool-des .items ul li div.item-tool .suppli{
    background: url('../images/ico-sprites.png') no-repeat ;
    background-position: -2px -80px;
}


div.product-items{
    float: left;
    width: 100%;
    height: 240px;
    border-bottom: 2px #F5F7FA solid;
}

div.product-items:hover{
    box-shadow: 3px 3px 3px #dedede;
}

div.product-items .image-tit{
    float: left;
    width: 180px;
    height: 240px;

}

div.product-items .image-tit .thumb{
    width: 180px;
    height: 180px;
    float: left;
    margin-top: 20px;

}

div.product-items .image-tit img{
    width: 180px;
    height: 180px;
    float: left;
}

div.product-items .image-tit .image-button{
    float: left;
    width: 180px;
    height: 40px;
    line-height: 40px;
}


div.product-items .image-tit .image-button .dual{
    width: 90px;
    float: left;
}

div.product-items .image-tit .image-button a{
    font-size: 12px;
}

div.product-items .image-tit .image-button a:hover{
    color: #FF9249;
    text-decoration: underline;
}

div.product-items .image-tit .image-button .favorites{
    background: url('../images/ico-sprites.png') no-repeat ;
    background-position: -166px -56px;
    width: 20px;
    height: 20px;
    margin-top: 12px;
    margin-left: 10px;
}

div.product-items .image-tit .image-button .compare{
    background: url('../images/ico-sprites.png') no-repeat ;
    background-position: -222px -57px;
    width: 20px;
    height: 20px;
    margin-top: 12px;
    margin-left: 10px;
}

div.product-items .product-info{
    padding: 10px;   
    float: left;
    width: 326px;
    height: 220px;
    position: relative;
}

div.product-items .product-info .name-product h2 a{
    color: #1A5AAA;
}

div.product-items .product-info .name-product h2 a strong{
    color: #FF9249;
}

div.product-items:hover .product-info .name-product h2 a{
    text-decoration: underline;
}

div.product-items .product-info .parameter{
    margin-top: 20px;
}

div.product-items .product-info .parameter p{
    color: #000;
    font-weight: 900;
}

div.product-items .product-info .parameter p strong{
    color: #dedede;
    font-weight: 400;
}

div.product-items .product-info .prop{
    width: 100%;
    float: left;

    margin-top: 10px;
}

div.product-items .product-info .prop .kv{
    float: left;
    width: 46%;
    margin-right: 4%;
    overflow: hidden;
    word-wrap: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #666;
    font-size: 12px;
}

div.product-items .cright{
    float: left;
    width: 248px;
    height: 220px;
    padding: 10px;
}

div.product-items .cright .rwrap{
    width: 100%;
    float: left;
    border-left: 1px #dedede solid;
    padding-left: 10px;
    height: 100%;
}

div.product-items .cright .rwrap .year span a.ico-year{
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url('../images/ico-sprites.png') no-repeat ;
    background-position: -2px -42px;
}

div.product-items .cright .rwrap .year{
    float: left;
    width: 45px;
}

div.product-items .cright .rwrap .year span a.ico-year span.gs12{
    background: url('../images/ico-sprites.png') no-repeat ;
    background-position: -5px -426px;
    width: 30px;
    display: inline-block;
    height: 12px;
    left: 12px;
    position: absolute;
    top: -6px;
}

div.product-items .cright .rwrap .cbrand{
    float: right;
    line-height: 20px;
    height: 20px;
    width: 200px;
    font-size: 12px;
}

div.product-items .contact-details{
    width: 100%; float: left;
    font-size: 12px;

}

div.product-items .contact-details a{
    color:#1686cc;
    font-size: 12px;
}

div.product-items .contact-details a:hover{
    color:#FF771C;
    text-decoration: underline;
}

div.product-items .contact-details a i{
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border-width: 4px;
    border-style: dashed;
    border-color: transparent;
    vertical-align: middle;
    border-left-style: solid;
    border-left-color: #6CB6EE;
    margin-top: -2px;
    margin-left: 5px;
}

div.product-items .contact-details a:hover i{
    border-left-color: #FF771C;
}

div.product-items .attr{
    float: left;
    width: 100%;
    margin-top:30px;
}


div.product-items .attr strong{
    float: left;
}

div.product-items .attr .ico-ta{
    background: url('../images/ico-sprites.png') no-repeat ;
    background-position: -444px -81px;
    display: inline-block;
    height: 16px;
    width: 16px;
}

div.product-items .attr span{
    float: left;
    width: 232px;
    color: #666;
    font-size: 12px;
}

div.product-items .attr span a{
    color: #666;
    font-size: 12px;
}

div.product-items .attr span a:hover{
    text-decoration: underline;
    color: #FF771C;
}

div.product-items .contact-supplier{
    margin-top:70px;
}

div.product-items .contact-supplier a.contact{
    text-decoration: none;
    background-color: #ff9147;
    padding: 4px 10px;
    border-radius: 2px;
    cursor: pointer;
    color: #fff;
    display: inline-block;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    text-shadow: 1px 1px 0 rgba(0,0,0,.1);
}

div.product-items .contact-supplier a.contact span{
    background: url('../images/ico-sprites.png') no-repeat ;
    background-position: -192px -5px;
    display: inline-block;
    height: 16px;
    width: 18px;
    margin-right: 5px;
}

div.product-items .contact-supplier a.chatnow{
    display: inline-block;
    font-size: 12px;
    height: 18px;
    padding: 0px 0 0 22px;
    text-align: left;
    text-decoration: none;
    background: url('../images/ico-sprites.png') no-repeat ;
    background-position: -477px -69px;
}

div.product-items .contact-supplier a.chatnow:hover{
    color:  #FF771C;
    text-decoration: underline;
}

div.product-info .boxinfo-hide{
    position: absolute;
    width: 20px;
    height: 30px;
    line-height: 30px;
    border: 1px #dedede solid;
    border-right: none;
    top: 15px;
    right: -11px;
    cursor: pointer;
    display: none;
    z-index: 9999;
}

div.product-info:hover .boxinfo-hide{
    display: block;
}

div.product-info .boxinfo-hide .button-info{
    position: relative;

    display: none;
}

div.product-info .boxinfo-hide:hover .button-info{
    display: block;
}

div.product-info .boxinfo-hide .button-info .hide-info{
    position: absolute;
    top: -10px;
    right: 0px;
    width: 350px;
    height: 220px;
    z-index: 1000;
}

div.product-info .boxinfo-hide .button-info .hide-info .box{
    float: left;
    width: 325px;
    background: white;
    height: 100%;
}

div.product-info .boxinfo-hide .button-info .hide-info .box .hide-box-item{
    padding-top: 10px;
    padding-left: 20px;
}

div.product-info .boxinfo-hide .button-info .hide-info .box .hide-box-item p{
    font-size: 12px;
    color: #000;
    padding: 7px 0px;
}

div.product-info .boxinfo-hide .button-info .hide-info .box .hide-box-item p span{
    color: #666;
}

div.product-info .boxinfo-hide .button-info .hide-info .box .hide-box-item img{
    width: 20px;
    height: 20px;
}

div.content-right{
    float: left;
    width: 200px;
}

div.content-right h3{
    text-align: center;
    background: #f60;
    border-radius:5px 5px 0 0;
    color: #fff;
    padding: 8px 0;
   
}

div.content-right ul{
  border: 1px #dedede solid;
  float: left;
  width: 99%;
  background: #f60;
  text-align: center;
   
}

div.content-right ul li{
    width: 182px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dotted #fff;
 
}

div.content-right ul li img{
    border: 1px #dedede solid;
    width: 160px;
}

div.content-right ul li a:hover{
    color:  #FF771C;
}

div.pagging{
    float: left;
    width: 100%;
    margin-top: 10px;
}

div.pagging .pagging-show{
    float: left;
    font-weight: 400;
    line-height: 34px;
    margin-right: 20px;
    font-size: 14px;
}

div.pagging .pagging-show a.total-paging{
    color: #1996E6;
    font-size: 14px;
    margin: 0px 7px;
}

div.pagging .pagging-pages{
    float: right;
    width: auto;    
    height: 34px;
    line-height: 34px;
}

div.pagging .pagging-pages ul{
    float: right;
}

div.pagging .pagging-pages ul li{
    float: left;
    margin: 0px 5px;
}

div.pagging .pagging-pages ul li span.preview,
div.pagging .pagging-pages ul li span.nextview{
    border: 1px #dedede solid;
    height: 17px;
    line-height: 17px;
    padding: 6px 10px;
    border-radius: 3px;
    background: #ECEDEF;
    cursor: pointer;
}

div.pagging .pagging-pages ul li span a{
    color: #666;
    padding: 6px 10px;
    margin: 0x 7px;
    border: 1px #dedede solid;
    border-radius: 3px;

}


div.pagging .pagging-pages ul li span a.active{
    color: red;
    border: none;
}

div.pagging .pagging-pages ul li span a:hover{
    color: #FF771C;
    border: 1px #FF771C solid;
}

div.pagging .pagging-goto-page{
    float: right;
    height: 34px;
    line-height: 34px;
    margin-left: 20px;
}

div.pagging .pagging-goto-page span{
    font-size: 12px;
}

div.pagging .pagging-goto-page ul{
    float: right;
}


div.pagging .pagging-goto-page ul li{
    float: left;
}

div.pagging .pagging-goto-page ul li input[type=text]{
    width: 40px;
    margin: 0px 10px;
}

div.pagging .pagging-goto-page ul li input[type=button]{
    width: 35px;
    height: 26px;
    background: #fff;
    border: 1px #dedede solid;
    cursor: pointer;
}
/*
div.slider{
    margin-top: 30px;
    border: 1px #dedede solid;
    float: left;
    width: 100%;
}

div.slider ul li{width: 204px!important;}

div.slider .bxslide-item img{
    border: 1px #dedede solid;
    width: 142px;
}

div.slider .bx-viewport{

    width: 768px !important;
    margin: 0 auto;
    margin-top: 20px;
}

.bxslide-item{
    width: 160px !important;
}
*/
.bx-wrapper{
    width: 96% !important;
    float: left;
}

div.popular-buying{
    border: 1px #dedede solid;
    float: left;
    margin-top: 30px;
}

div.popular-buying .title{
    border-bottom: 1px #dedede solid;
}

div.popular-buying h3{
                                                                                                                                                                                ;
    line-height: 40px;
    padding-left: 20px;

}

div.popular-buying h3 span.mosaic{
    color:#FF9249;
    float: none;

}

div.popular-buying .wap{

    float: left;
    width: 100%;
}

div.popular-buying .wap-left{
    float: left;
}

div.popular-buying .wap-left-item{
    width: 100px;
    float: left;
    padding: 10px;
}

div.popular-buying .wap-left-item ul li img{
    width: 90px;
}

div.popular-buying .wap-left-item ul li a{
    font-size: 12px;
}

div.popular-buying .wap-left-item ul li a span.cent{
    color: #FF9249;
    font-weight: 900;
}

div.popular-buying .wap-right{

    float: left;
    width: 668px;
}

div.popular-buying .wap-right p{
    padding: 7px 0px;
}

div.popular-buying .wap-right a.contact{
    text-decoration: none;
    background-color: #ff9147;
    padding: 4px 10px;
    border-radius: 2px;
    cursor: pointer;
    color: #fff;
    display: inline-block;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    text-shadow: 1px 1px 0 rgba(0,0,0,.1);
    margin-left: 10px;
    margin-right: 10px;
}

div.popular-buying .wap-right a.contact span.ico-cs{
    background: url('../images/ico-sprites.png') no-repeat;
    background-position: -193px -4px;
    display: inline-block;
    height: 16px;
    width: 18px;
    margin-right: 5px;

}

div.popular-buying .wap-right a.compase{
    border: 1px #dedede solid;
    padding: 5px 15px;
    border-radius: 3px;
}

ul.list-info{

    margin-top: 20px;
}

ul.list-info li{

}

ul.list-info .title{
    float: left;
    cursor: pointer;
    background: #F5F7FA;
    position: relative;
}

ul.list-info .title-left{
    float: left;
    width: 311px; 
    height: 30px;
    line-height: 30px;
}

ul.list-info .title-left img{
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10px;
}

ul.list-info .title-right{
    text-align: center;
    height: 30px;
    line-height: 30px;
    float: right;
    width: 357px;
}

ul.list-info .title-right i{
    margin-top: 12px;
    border: 0 none;
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    width: 4px;
    height: 4px;
    transform: rotate(45deg);
    border-right: 2px solid #999;
    border-bottom: 2px solid #999;
}

ul.list-info li .des{
    float: left;

}

ul.list-info .title-right .year{
    float: left;
}

ul.list-info .title-right .year span{
    float: left;
    margin-top: 5px;
}

ul.list-info .title-right .year span a{
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url('../images/ico-sprites.png') no-repeat;
    background-position: -2px -42px;
    margin-right: 12px;
}

ul.list-info .title-right .year span a .gs-year{
    background: url('../images/ico-sprites.png') no-repeat;
    background-position: -5px -426px;
    width: 30px;
    display: inline-block;
    height: 12px;
    left: 12px;
    position: absolute;
    top: -12px;
}

div.wap-detailts{
    border: 1px solid #e9eef5;
    float: left;
    width: 646px;
    padding-left: 20px;
    padding-top: 10px;
    display: none;
}

ul.list-info li .des .active{
    display: block;
}

div.wap-detailts .img{
    float: left;
    width:140px;
    height: 160px;

}

div.wap-detailts .statistics-box{
    padding-left: 20px;
    width: 250px;
    height: 160px; float: left;

}

div.wap-detailts .statistics-box .static-info ul li{
    margin-bottom: 8px;
    font-size: 12px;
    color: #666;
} 

div.wap-detailts .statistics-box .static-info ul li span{
    display: inline-block;
    width: 96px;
    font-weight: 700;
    color: #ff7519;
    vertical-align: bottom;
}

div.wap-detailts .right-static{
    width: 340px;
    float: left;
}

div.wap-detailts .right-static ul li{
    font-size: 12px;
    color: #999;
    margin-bottom: 8px;
}

div.wap-detailts .right-static ul li span{
    color: #000;
}
/*
ul.list-info li .des:hover > div.wap-detailts{
    display: block;
}
*/
.see-more{
    border: 1px #dedede solid;
    margin-top: 20px;

}

.see-more .title h3{
    padding: 15px 0px;
}

.see-more .title h3 span.mosaic{
    float: none;
    color: #FF7519;
    font-weight: 900;
}

.see-more .box-items{
    width: 100%; float: left;
}

.see-more .box-items .item{
    width: 145px;
    float: left;
    margin: 0px 22px;
}

.see-more .box-items .item img{
    width: 150px;
    height: 150px;
}

.see-more .box-items .item p,
.see-more .box-items .item p a{
    color: #666;
    font-size: 12px;
}

.see-more .box-items .item p a:hover{
    color: #FF7519;
}

.see-more .box-items .item p.price span{
    color: #FF7519;
    font-weight: 900;
    float: none;
}

div.AliSource{
    border: 1px #dedede solid;
    margin-top: 20px;
    margin-bottom: 10px;
}

div.AliSource .AliSource-left{
    width: 50%;
    float: left;
   
    border-right: 1px #dedede solid;
}

div.AliSource .box-alisource p.title{
    font-size:12px;
    color: #666;
    padding: 15px;
}

div.AliSource .box-alisource h4{
    font-size: 15px;
    font-weight: 700;
    margin: 0;
    padding: 6px 0 4px 10px;
    color: #333;
}

div.AliSource .box-alisource h4 span.ico-rfq{
     background: url('../images/ico-sprites.png') no-repeat;
    background-position: -303px -82px;
    display: inline-block;
    height: 16px;
    width: 16px;
}

div.AliSource .left h4 em{
    color: #999;
}

div.AliSource .box-alisource p.detailts{
    padding-left: 10px;
}

div.AliSource .box-alisource p.link{
    padding: 20px 10px 20px 10px;
    
}

div.AliSource .box-alisource p.link a{
    color: #4D9BD1;
}

div.AliSource .box-alisource p.link a:hover{
    color:#ff7519;
}

div.AliSource .AliSource-right{
    float: left; 
    width: 49%;
    
}

div.the-end{
    margin-bottom: 30px;
}

div.the-end p{
    font-size: 12px;
    color: #666;
}
p.mqq{text-decoration: line-through;}

.col-sub .col-sub-cont{padding:10px;border:1px solid #ccc;margin-bottom:10px}
.col-sub-cont ul li{display:block;padding:7px 0;}
.col-sub-cont ul li a{color: #000}
.col-sub-cont ul li img{max-width:140px;max-height:140px;padding:0 25px}
.col-sub-cont ul li i{
  width: 9px;
  height: 9px;
  padding-left:20px;
  margin-left: -8px;
  margin-right: 10px;
  vertical-align:middle;
}
.col-sub-cont ul li i.i-group-item{background:url(icons/product-group-tree.png) no-repeat 11px 0;}
.col-sub-cont ul li i.i-child-item{background:url(icons/product-group-tree.png) no-repeat -18px 0;}
.col-sub-cont ul ul{  padding-left: 12px;display:none}
.groups-item img{width:50px;height:50px;padding:0 !important;float:left}
