
ul#selected > li{
    position: relative;
}

ul#selected > li:after{
    content: '';
    position: absolute;
    top: 17px;
    right: 13px;
  width: 10px;
  height: 7px;
  background: url('../images/home-icon.png') no-repeat;
  background-position: 0px -319px;
}

div#wrapper, 
div.header{ 
    min-width: 100%;
   
}

div.header .menu-top{
    height: 30px;
    line-height: 34px;
    border-bottom: 1px solid #ccc;
}

div.header .menu-top .sing-join{
    float: left;
}
div.header .menu-top .sing-join a:hover{
    color: #FF9249;
    text-decoration: underline;
}

div.header .menu-top .box-menu-header{
    float: left;
}

ul.menu-header{
    margin-left: 5px;
    float: left;

}

ul.menu-header li{
    position: relative;
    float: left;
}

ul.menu-header li a{
    color: #666;
    padding: 7px 15px;
}

ul.menu-header > li > a::after{
    content:"";
    position: absolute;
    top: 40%;
    margin-left: 5px;
    width: 7px; height: 7px;
    float: left;
}

ul.menu-header > li:hover > a{
    background: #1686CC;
    color: white;
    border-radius: 5px 5px 0px 0px;
    
}

/*****SUB MENU******/

ul.menu-header > li > ul{
    position: absolute;
    width: 150px;
    top: 30px;
    left: 0px;
    border: 1px #dedede solid;
    padding: 4px 0px;
    background: white;
    border-radius: 0px 3px 3px 3px;
    box-shadow: 3px 3px 6px #dedede;
    display: none;
    z-index: 9999;
}

ul.menu-header > li > ul li{
    height: 30px;
    line-height: 30px;
}

ul.menu-header > li > ul li.space{
    padding: 0px 15px;
    width: auto;
    margin: 3px 0px;
}
ul.menu-header > li > ul li.space p{
    padding: 0px;
    border-top: 1px #dedede solid;
}

ul.menu-header > li > ul li.space:hover{
    background: none;
}

ul.menu-header > li > ul li a{
    font-size: 12px;
}

ul.menu-header > li > ul li:hover{
    background: #E6E6E6;
   
}

ul.menu-header > li:hover > ul{
    display: block;
}

ul.menu-header > li > a{
   
    padding: 3px 22px 3px 15px;
    border-radius: 3px;
} 

ul.menu-header > li > a:after{
    content: '';
    width: 10px;
    height: 7px;
    background: url('../images/home-icon.png') no-repeat;
    background-position: 0px -319px;
}


/*
***************************
    END menu my-alibaba
***************************
*/

.menu-right{
    float: right;
    height: 30px;
}

.menu-right > a{
    margin-left: 10px;
}

.menu-right > a.about{
    color: #e6e6e6;
}

.menu-right > a:hover{
    color: #FF9249;
}

/***
*
*   end .menu-right
*
***/

div.box-search{
    width: 100%;
    float: left;
  
      border-bottom: 1px solid #ccc;
}

div.box-search .logo{
    float: left;
}

div.box-search .form-search{
    float: left;
    position: relative;
    height: 38px;
    background-color: #fff;
    border: 1px solid;
    border-color: #b3b3b3 #ccc #ccc;
    border-radius: 3px;
    margin-left: 30px;
}


div.box-search .form-search .select{
    width: 100px;
    height: 38px;
    float: left;
}

div.box-search .form-search .select ul#selected{
}

div.box-search .form-search .select ul#selected > li{
    text-align: center;
    padding: 9px 20px 9px 0px;
    position: relative;
    cursor: pointer;
}

div.box-search .form-search .select ul#selected > li > ul{
    display: none;
    position: absolute;
    top: 38px; left: -1px;
    width: 100px;
    border: 1px #dedede solid;
    background: white;
}

div.box-search .form-search .select ul#selected > li > ul li{
    text-align: left;
    height: 30px;
    line-height: 30px;
    padding-left: 16px;
}

div.box-search .form-search .select ul#selected > li > ul li:hover{
    background: #e6e6e6;
}

div.box-search .form-search .select ul#selected > li:hover > ul{
    display: block
}

div.box-search .form-search .text-search{
    float: left;
}

div.box-search .form-search .text-search input[type=text]{
    height: 38px;
    width: 535px;
    border-left: 1px #dedede solid;
    border-top: none;
    border-right: none;
    border-bottom: none;
}

div.box-search .form-search .submit-search{
    float: right;
}

div.box-search .form-search .submit-search input[type=submit]{
    width: 120px; height: 38px;
    background: url('../images/new-header-v4-2@1x.png') no-repeat;
    background-position: -251px -5px;
    border: none;
    color: white;
     padding-left: 40px;
}

div.box-search .quotations{
    border: 1px #dedede solid;
    margin-left: 30px;
    height: 38px;
    line-height: 38px;
    padding: 0px 23px 0px 15px;
    float: right;
    position: relative;
    border-radius: 3px;
    cursor: pointer;
    color: #1686cc;
    font-weight: 700;
}

div.box-search .quotations .popular-product{
    width: 400px;
    height: 237px;
    position: absolute;
    top: 38px;
    left: -277px;
    border: 1px #dedede solid;
    padding: 10px 10px 10px 10px;
    display: none;
    z-index: 9999;
    background: white;
}

div.box-search .quotations .popular-product .popular-left{
    width: 250px;
    float: left;
    height: 200px;
}

div.box-search .quotations .popular-product .popular-left .popular-left-title{
    height: 30px;
    line-height: 30px;
    color: #000;
}

div.box-search .quotations .popular-product .popular-left-content{
    height: 206px;
    border-right: 1px #dedede solid;
}

div.box-search .quotations .popular-product .popular-left-content .pic{
    display: table-cell;
    width: 240px;
    height: 136px;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
}

div.box-search .quotations .popular-product .popular-left-content .pic img{
    max-width: 120px;
    max-height: 120px;
}

div.box-search .quotations .popular-product .popular-left-content .detailt{
    height: 70px;
    margin: 0px;
    padding: 0px;
    line-height: 20px;
}

div.box-search .quotations .popular-product .popular-left-content .detailt a{
    margin: 0;
    padding: 0;
    color: #06c;
    border: 0;
    font-size: 11px;

}

div.box-search .quotations .popular-product .popular-left-content .detailt p{
    color: #000;
    font-size: 11px;
}

div.box-search .quotations .popular-product .popular-left-content p span{
    color: #1dc11d;
    font-weight: 400;
}

div.box-search .quotations .popular-product .popular-left-content  .detailt .refresh{
    height: 20px;
    text-align: center;
    font-size: 11px;
    color: #dedede;
    margin-top: 10px;
}

div.box-search .quotations .popular-product .popular-right{
    width: 150px;
    float: left;
    height: 248px; /*218*/
}

div.box-search .quotations .popular-product .popular-right .popular-right-title{
    height: 30px;
    background: url('../images/new-header-v4-2@1x.png') no-repeat;
    background-position: -445px 0px ;

}

div.box-search .quotations .popular-product .popular-right-content ul{
    width: 100%;
    float: left;
}

div.box-search .quotations .popular-product .popular-right-content ul li{
    width: 100%;
    height: 30px;
    margin-top: 10px;
}

div.box-search .quotations .popular-product .popular-right-content div{
    float: left;
    width: 20px; height: 20px;
    background: blue;
    color: white;
    line-height: 20px;
    font-size: 12px;
    border-radius: 3px;
    margin-left: 10px;
    text-align: center;

}
div.box-search .quotations .popular-product .popular-right-content span{
    height: 20px;
    line-height: 20px;
    float: left;
    font-weight: 400;
    margin-left: 20px;
}

div.box-search .quotations:hover > .popular-product{
    display: block;
}

/**
*
      *****  end .header  *****
*
**/

div.content{
    width: 100%;
  
}



div.content h1{
    float: left;
    width: 100%;
}

div.content h1 > ul{
    float: left;
    margin-left: 30px;
}

div.content h1 > ul li{
    float: left;
    padding: 0px 30px;
    border-right: 1px #dedede solid;
}

div.content h1 > ul li:last-child{
    border:none;
}

div.content h1 > ul li a{
    font-size: 14px;
    font-weight: 400;
}


div.content h1 > ul li a:hover{
    color: #ff6600;
    text-decoration: underline;
}


div.cate{
    width: 400px;
    height: 50px;
    margin: 0 auto;
    position: relative;
    padding: 0px 20px;
    margin-top:30px;
}

div.cate .cate-head{
    height: 50px;
    cursor: pointer;
}

div.cate .cate-head .cate-logo{
    float: left;
    height: 50px;
}

div.cate .cate-head img{
    margin-top: 10px;
}

div.cate .cate-head .cate-box-text{
    float: left;
    height: 50px;
    margin: 0px 10px;
}

div.cate .cate-head .cate-box-text a{
    color: #000;
    font-size: 24px;
    line-height: 50px;
}

div.cate .cate-head .back-icon{
    float: left; 
    height: 50px; 
    line-height: 50px;
}

div.cate:hover{
    background: #1686CC;
    border-radius: 5px 5px 0px 0px;
}

div.cate:hover .cate-box-text a{
    color: white;
}

div.cate .cate-body{
    border: 1px #dedede solid;
    position: absolute;
    top: 50px;
    left: 0px;
    width: 500px;
    box-shadow: 3px 3px 3px #dedede;
    display: none;
    background: white;
    z-index: 9999;
}

div.cate .cate-body ul{
    width: 100%;
}

div.cate .cate-body ul li{
    cursor: pointer;
    padding-left: 20px;
    height: 50px;
    position: relative;
    line-height: 50px;
}

div.cate .cate-body ul li:hover{
    background: #dedede;
}


div.cate .cate-body ul li i{
    margin-right: 20px;
    margin-top: 10px;
    height: 50px;
}

div.cate .cate-body ul li a{
    margin-bottom: 20px;
}

div.cate .cate-body ul li i img{
    margin-top: 10px;
    float: left;
}

div.cate:hover .cate-body{
    display: block;
}

/****** end .cate ********/

div.menu{
    border-top: 1px #dedede solid;
    border-bottom: 1px #dedede solid;
    box-shadow: 3px 3px 3px #dedede;
    height: 50px;
    line-height: 50px;
}

div.menu ul li {
    display: inline;
    padding: 0px 20px 17px 20px;
}

div.menu ul > a{
    color: blue;
    float: right;
} 

div.menu ul > a:hover{
    text-decoration: underline;
}

div.menu ul li.active{
    border-bottom: 2px #ff6600 solid;
}

div.menu ul li a:hover{
    color: #ff6600;
    text-decoration: underline;
}

/***************************/

div.auto-space{
    height: 15px;
}

div.auto-space-50{
    height: 50px;
}

div.category .menu-cate{
    float: left;
    width: 230px;
}

div.category .menu-cate h3{
    color: #ff6600;
    padding-left: 20px;
    margin-bottom: 10px;
}


div.category .menu-cate ul#category-menu > li{
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    background-image: url('../images/TB1J.TlFVXXXXXjXXXXdAXbLXXX-30-120.png');
    background-repeat: no-repeat;
    background-position: 210px -10px;
    position: relative;
    z-index: 5555;
}

div.category .menu-cate ul#category-menu > li:hover{
    border-top: 1px #dedede solid;
    box-shadow: -2px 2px 2px #dedede;
    cursor: pointer;
    background-image: url('../images/TB1J.TlFVXXXXXjXXXXdAXbLXXX-30-120.png');
    background-repeat: no-repeat;
    background-position: 210px -70px;
}

div.category .menu-cate ul#category-menu > li > a{
    color: #666;
    font-size: 14px;
    padding: 9px 20px 9px 0px;
    line-height: 20px;
}

/**sub menu**/


div.category .menu-cate ul#category-menu > li .sub-menu{
    min-width: 420px;
    position: absolute;
    top: -32px;
    left: 228px;
    display: none;
    padding-left: 20px;
    border: 1px #dedede solid;
    box-shadow: 3px 3px 3px #dedede;
    background: white;
}

div.category .menu-cate ul#category-menu > li .sub-menu ul{
    width: 200px;
    float: left;
    margin-bottom: 20px;
}

div.category .menu-cate ul#category-menu > li .sub-menu ul h3{
    color: blue;
}

div.category .menu-cate ul#category-menu > li .sub-menu ul li{
    height: 25px;
}


div.category .menu-cate ul#category-menu > li .sub-menu ul li a{
    font-size: 12px;
}

div.category .menu-cate ul#category-menu > li .sub-menu ul li a:hover{
    color: #FF664F;
    text-decoration: underline;
}

div.category .menu-cate ul#category-menu > li:hover .sub-menu{
    display: block;
}

/****************************/
/****************************/
/****************************/


div.slide-hotproduct{
    float: left;
    width: 900px;
    margin-left: 66px;
}

div.slide-hotproduct .slider{
    width: 100%;
    height: 250px;
    border: 1px #dedede solid;
}

.bx-controls-direction{
    display: none;
}

div.slide-hotproduct .hot-product{
    padding-top: 30px;
    float: left;
    width: 100%;
}

div.slide-hotproduct .hot-product h1, div.popular h1,
div.laceclothing h1,
div.dinner h1{
    border-bottom: 1px #dedede solid;
    padding-bottom: 10px;
    font-size: 18px;
    margin-bottom: 10px;
}

/****************************/
/*******   Product   ********/
/****************************/

.product-item{
    width: 100%;
}

.product-item ul{
    width:100%;
    float: left;
}

.hot-product .product-item ul li{
    width: 200px;
    float: left;
    margin-right: 33px;
}

.hot-product .product-item ul li:nth-of-type(4),
.hot-product .product-item ul li:nth-of-type(8){
    margin-right: 0px;
}

.product-item ul li img{
    width: 200px;
}


.product-item ul li a.name-product{
    line-height: 18px;
    font-size: 13px;
    font-weight: bold;
    color: #333;
    margin-top: 15px;
    margin-bottom: 11px;
    overflow: hidden;
}

.product-item ul li div.prices p{
    color:#000;
    font-size: 12px;
}

.product-item ul li div.prices p span{
    color: #dedede;
}

.product-item ul li a.name-product:hover{
    text-decoration: underline;
}

div.popular{
    margin-top: 50px;
}


div.popular .product-item ul li{
    width: 200px;
    float: left;
    margin-right: 50px;
}

div.popular .product-item ul li:nth-child(5n){
    margin-right:0px;

}

div.popular .product-item ul li{
    margin-right: 50px;
}

div.laceclothing, .dinner{
    margin-top: 50px;
}

div.laceclothing .product-item ul li, .dinner .product-item ul li{
    width: 200px;
    float: left;
    margin-right: 50px;
}


div.laceclothing .product-item ul li:nth-child(5n){
    margin-right:0px;
    margin-bottom: 30px;
}

div.feature{
    width: 230px;
    float: left;
    margin-right: 20px;
    background: #F5F5F5;
}

div.feature h3{
    margin: 16px 0px;
    padding-left: 20px;
}

div.feature ul{
    float: left;
    padding-left: 20px;

}

div.feature ul li{
    border: 1px #1997E5 solid;
    float: left;
    margin: 0px 10px 10px 0px;
    border-radius: 5px;
    background: white;
    height: 30px;
    line-height: 30px;
}

div.feature ul li:hover{
    background: #1997E5;
}

div.feature ul li a{
    font-size: 12px;
    padding: 0px 15px; 
}

div.feature ul li a:hover{
    color: white;
}


div.women-right{
    float: left;
    width: 200px;
}

div.women-right ul{
    width: 100%;
}

div.women-right ul li{
    position: relative;
    width: 200px;
    height: 100px;
    margin-bottom: 5px;
}

div.women-right ul li img{
    width: 200px;
    height: 100px;
}


div.women-right ul li .title-women{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 180px;
    height: 30px;
    background: #319AD6;
    line-height: 30px;
    padding-left: 20px;
    z-index: 9999;
    opacity: 0.5;
}

div.women-right ul li .title-women a{
    color: white;
}

div.women-right ul li .title-women:hover{
    opacity: 0.9;
}

div.women-bot{
    width: 946px;
    height: 120px;
    float: left; 
    border: 1px #dedede solid;
}

div.women-bot ul li{
    float: left;
    width: 235px;
    border-right: 1px #dedede solid;
    height: 120px;
    position: relative;
}

div.women-bot ul li:last-child{
    border: none;
}

div.women-bot ul li a img{
    width: 234px;
    height: 100px;
}

div.women-bot ul li span.t{
    position: absolute;
    top: 20px;
    left: 20px;
    font-weight: 700;
    font-size: 12px;
}

div.women-bot ul li span.st{
    position: absolute;
    top: 75px;
    left: 20px;
    font-size: 12px;
    color: #000;
}

div.ment-clothing .feature{
    position: relative;
}

div.ment-clothing .feature .box-drist{
    position: absolute;
    top: 20px;
    left: 15px;
    width: 200px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    background: white;
    font-size: 16px;
    border: 1px #FCFCFC solid;
}

.more-category > li p{
    font-size: 12px;
}



