/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 26, 2015, 9:38:47 AM
    Author     : Administrator
*/

*{
    font-size: 12px;
}




.cart-order-favori{
    float: left;
    height: 38px;
    border: 1px #dedede solid;
    border-bottom: 0px;
    border-right: 0px;
    border-radius: 3px;
    margin-left: 31px;
}

.cart-order-favori .garenal{
    float: left;
    border-right: 1px #dedede solid;
    padding-left: 7px;
    height: 38px;
    line-height: 38px;
    border-bottom: 1px #dedede solid;
    cursor: pointer;
}

.cart-order-favori .garenal a{
    color: #2187c9;
    font-size: 14px;
}

.cart-order-favori .cart{
    position: relative;
}


.cart-order-favori .cart .icon-shopping-cart{
    width: 90px;
    height: 38px;
    float: left;
    background: url('../images/wholesale-sprites.png') no-repeat;
    background-position: 0px 4px;
}

.cart-order-favori .cart .srart-shopping{
    position: absolute;
    background: white;
    top: 38px;
    right: -1px;
    border: 1px #dedede solid;
    display: none;
    width: 340px;
    z-index: 9999;
}


.cart-order-favori .cart:hover > .srart-shopping{
    display: block;
}

.cart-order-favori .cart .srart-shopping p{
    text-align: center;
    height: 60px;
    line-height: 60px;
}

.cart-order-favori .orders{
    width: 60px;
}

.cart-order-favori .orders span.icon{
    width: 10px;
    float: right;
    margin-top: 16px;
    margin-right: 5px;
    height: 7px;
    background: url('../images/wholesale-sprites.png') no-repeat;
    background-position: -258px 2px;
}

.cart-order-favori .favori{
    width: 60px;
}

.box-search .des-logo{
    float: left;
    height: 38px;
    line-height: 38px;
    margin-left: 10px;
}

.box-search .des-logo a{
    font-size: 18px;
    font-weight: 300;
    color: #333;
}


i.ui-header-rfq-pro-icon{
    float: right;
    margin-top: 10px;
    background: url('../images/new-header-v4-2@1x.png');
    background-position: -500px 0;
    width: 80px;
    height: 16px;
    right: 15px;
    bottom: 24px;
}

.anchor{
    width: 100%;
    float: left;
    margin: 20px 0px 0px 0px;
}

.anchor ul{
    float: right;
}

.anchor ul li{
    padding: 5px 7px;
    position: relative;
    float: left;
    margin: 0px 10px 0px 0px;
    font-size: 12px;
}

.anchor ul li.hide-conten{
    border: 1px white solid;
    border-radius: 3px 3px 0px 0px;
}

.anchor ul li a{
    color: #999;
}

.anchor ul li a i{
    display: inline-block;
    width: 9px;
    height: 8px;
    margin-left: 4px;
    margin-top: 4px;
    background: url('../images/home-icon.png') 0 -320px no-repeat;
}


.anchor ul li a:hover{
    color:#FF771C;
}


.anchor ul li:hover >a > i{
    background: url('../images/home-icon.png') 0 -300px no-repeat;
}

.anchor ul > li > ul{
    position: absolute;
    width: 100%;
    display: none;
    border: 1px #dedede solid;
    border-top: 0px;
    border-radius: 0px 0px 3px 3px;
    background: white;
    z-index: 9999;
    top: 31px; 
    left: -1px;
    margin-bottom: 5px;
}

.anchor ul li.hide-conten:hover{
    border: 1px #dedede solid;
}

.anchor ul li.hide-conten:hover > ul{
    display: block;
}


div.slide-hotproduct{
    width: 470px !important;

    margin-left: 6px !important;
}

div.slide-hotproduct .slider{
    height: 335px !important;
}



.module-hot{
    float: left;
    width: 478px;
    margin-left: 20px;
    border: 1px #dedede solid;
}
.module-hot .hot-item{
    width: 238px;
    float: left;
    border-bottom: 1px #dedede solid;
    border-right: 1px #dedede solid;
    height: 139px;
}

.module-hot .hot-item .img-item{
    float: left;
    width: 80px;
    height: 100%;
    margin-left: 20px;
    margin-right: 5px;
}

.module-hot .hot-item img{
    width: 80px;
    height: 60px;
    margin-top: 30px;
}

.module-hot .hot-item .desc{
    width: 128px;
    height: 105px;
    float: left;
    padding-top: 20px;
}

.module-hot .hot-item .desc a{
    margin-top: 45px;
    font-weight: 800;
}

.module-hot .hot-item .desc a:hover{
    color: #FF7519;
}

.module-hot .hot-item .desc a span{
    color: #00EE00;
    font-weight: 400;
    float: none;
}

.module-hot .hot-item .desc a span strong{
    color: #666;
    font-weight: 400;
}



div.browse-top-category{
    margin-top: 50px;
}

div.browse-top-category h3{
    font-size: 22px !important;
    color: #333;
    font-weight: bold;
    border-bottom: 2px solid #dae2ed;
    line-height: 22px;
    padding-bottom: 8px;
    height: auto;
    margin-bottom: 20px;
}
div.browse-top-category h3 a{font-size: 22px}
ul.most-box{
    width: 100%;
    float: left;
    border: 1px #dedede solid;
}

ul.most-box li{
    width:285px;
    height: 285px;
    float: left;
    position: relative;
    margin-right: 20px;
}

ul.most-box li:last-child{
    margin-right: 0px;
}

ul.most-box li .desc{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: #4C5D70;
    opacity: 0.9;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    color: white;
    font-size: 18px;
}


div.Most-Popular-Products{
    margin-top: 50px;
}

div.Most-Popular-Products h3{
    
    color: #333;
    font-weight: bold;
   
}

ul.most-popular{
    width: 100%;
    float: left;
    border: 1px #dedede solid;

}

ul.most-popular li{
    float: left;
    width: 299px;
    border-bottom: 1px #dedede solid;
    border-right: 1px #dedede solid;
    padding-bottom: 10px;
    height: 370px;
}

ul.most-popular li:nth-of-type(4n){ 
    border-right: none;
    width: 300px;
}

ul.most-popular li:hover{
    box-shadow: 3px 3px 3px #dedede;
}

ul.most-popular .tit{
    width: 100%;
    float: left;

    text-align: center;
}

ul.most-popular .tit img{
    margin-top: 20px;
    width: 220px;
    height: 220px;

}

ul.most-popular .desc{
   text-align: center;
}

ul.most-popular .desc a{
    color: #333;
    font-size: 16px;
    font-weight: 500;
}

ul.most-popular .desc a:hover{
    color: #FF771C;
    text-decoration: underline;
    margin-bottom: 10px;
}

ul.most-popular .desc span{
    float: none;
    color: #cc1414;
    font-size: 14px;
}


ul.most-popular .desc span strong{
    font-size: 14px;
    color: #00EE00;
    font-weight: 400;
}

ul.most-popular .button{
    width: 100%;
    text-align: center;

    float: left;
}

ul.most-popular .button a{
    margin-top: 16px;
    height: 30px;
    background-image: none;
    background-color: #FF7519;
    border: none;
    font-weight: 400;
    padding: 7px 63px;
    border-radius: 3px;
    color: white;
    line-height: 30px;
}



ul.view-all-cate{
    width: 100%;
    float: left;
    border: 1px #dedede solid;
}

ul.view-all-cate li{
    float: left;
    width: 239px;
    border-bottom: 1px #dedede solid;
    border-right: 1px #dedede solid;
    height: 300px;
}

ul.view-all-cate li:nth-of-type(5n){ 
    border-right: none;
    width: 240px;
}


ul.view-all-cate li:hover{
    box-shadow: 3px 3px 3px #dedede;
}

ul.view-all-cate .tit{
    width: 100%;
    float: left;

    text-align: center;
}

ul.view-all-cate .tit{
    width: 100%;
    float: left;
    text-align: center;
}

ul.view-all-cate .tit img{
  margin-top: 10px;
  width: 159px;
  height: 159px;
  /* margin-bottom: 30px; */
}

ul.view-all-cate .desc{
    float: left;
    padding:5px 10px;
}

ul.view-all-cate .desc a{
    color: #333;
    font-size: 16px;
    font-weight: 500;
}

ul.view-all-cate .desc a p{
    width: 160px;
}

ul.view-all-cate .desc a:hover{
    color: #FF771C;
    text-decoration: underline;
    margin-bottom: 10px;
}

ul.view-all-cate .desc span{
    float: none;
    color: #666;
    font-size: 14px;
}


ul.view-all-cate .desc span strong{
    font-size: 14px;
    color: #00EE00;
    font-weight: 400;
}

ul.view-all-cate .button{
    width: 100%;
    text-align: center;
    margin-top: 15px;
    float: left;
    display: none;
}

ul.view-all-cate .button a{
    margin-top: 16px;
    height: 30px;
    background-image: none;
    background-color: #FF7519;
    border: none;
    font-weight: 400;
    padding: 7px 35px;
    border-radius: 3px;
    color: white;
    line-height: 30px;
}

ul.tabs{
    width: 100%;
    margin-bottom: 20px;
    float: left;

}

ul.tabs li{
    float: left;
    border: 1px #dedede solid;
    margin-right: 15px;
    cursor: pointer;
    padding: 7px 15px;
    margin-bottom: 15px;
}

ul.tabs li:hover{
    border: 1px #ff751a solid;
}

ul.tabs li.active{
    border: 1px #ff751a solid;
    background: url('../images/TB1PfKqHXXXXXcyXpXXH6iFFpXX-21-23.png');
    background-position: right bottom;
    background-repeat: no-repeat;
}

div.tabs-content{
    display: none;
}

div.view-more{
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

div.view-more a{
    background: #FF7519;
    color: white;
    padding: 7px 35px;
    font-weight: both;
    border-radius: 3px;
}

.end-footer {
  margin-top: 30px !important;
}

.util-clearfix {
      padding: 0px 10px 20px 10px !important;
}

.copyright{
    margin-top: 0px !important;
}

.tabs-fix-scroll{
    position: fixed !important;
    top: 0px;
    left: 0px;
    background: white;
    border-bottom: 1px #dedede solid;
    width: 100%;
    float: left;
    box-shadow: 3px 3px 3px #dedede;
    padding: 0px 75px;
}

.tabs-fix-scroll ul.tabs{
    width: 1200px !important;
    margin-bottom: 0px !important;
}
.bar {
  border: 1px solid #ccc;
  border-radius: 6px;
}
.bar > ul > li > a {
  font-size: 15px;
  font-weight: bold;
  line-height: 30px;
  display: block;
  padding: 0 10px;
  background: #f60;
  color: #fff;
  border-top: 1px solid #fff;
}
.bar li li a {
  line-height: 18px;
  
  border-bottom: 1px dotted #ccc;

  display: block;
  padding: 5px 10px;
}