
#mCate{

	
	padding: 10px;
	display: none;
}
#mCate h3 a{color: #fff}
#mMenu i{
	display: inline-block;
	width: 44px;
	height: 40px;
	background: url("icons/mobile-menu.png") center no-repeat;
}
#mMenuItem{
	background: #D07BA5;
	display: none;
	width: 100%;
	float: left;
	z-index: 9999;
}
#mMenuItem ul{
	padding: 10px;
}
#mMenuItem li{
	list-style: none;
}
#mMenuItem li a{
	display: block;
	line-height: 32px;
	font-size: 16px;
	border-bottom: 1px solid #fff;
}
#mMenuItem li:last-child a{
	border-bottom: none;
}
.category-left-mobile{}
 
.mcategory{display: none}


@media screen and (max-width: 900px) {
        
	.mwap-x100{width: 100% !important; float: left;text-align:center !important;margin:0 !important; padding:0 !important}
    .mwap-x70{width: 70% !important; float: left;} 
    .mwap-x10{width: 10% !important; float: left;}
    .mwap-x20{width: 20% !important; float: left;}
    .mcategory{display: block;}
 
     div.header .menu-top .sing-join{padding:0 10px !important}
     
	#mCate{
		display: block;
		background: url('../images/icon-list.png') no-repeat;
		width: 40px;
		height: 40px;
		cursor: pointer;
	}
	#mSearch{
	  display: block;
  background: url('../images/search_mob_nav.png') no-repeat 7px 8px ;
  width: 50px;
  height: 60px;
  cursor: pointer;
	}
	.use{
		width:100%; 
		margin: 0 auto;
		position: relative;
	}
	.menu-right{display:none;}
	
	.logo{
	  width: 100%;
	  text-align: center;
	}
	.logo img{
		width: 80%;
		height: 60px;
	}
   
    .form-search{margin: 0 !important;padding: 0;width: 100% !important;}
   .mform-search{display: none }
    .form-search .text-search{width: 100% !important}
    .form-search .text-search input[type=text]{
    width: 58% !important;float: left;
    }
    form-search .submit-search input[type=submit] {
  
  height: 38px;
  background: #f60;
  border: none;
  color: white;
}
.menu-top{border:0 !important}
.menu-top .sing-join{display:none !important}
.cart-order-favori {display: none}
#menu-cate{ display: none;}
#mMenu{display: block;z-index: 9999}
#cate-menu{display: none !important;}
div.box-category .slide {width: 100% !important; height: 100% !important}
div.box-category .slide .slider{height: 100% !important}
div.box-category .slide .slider img {width: 100% !important;height: 220px !important}

.module-hot {width: 100% !important; margin:0 !important}
.module-hot .hot-item, ul.view-all-cate li{
	width: 100% !important;

}
.bx-wrapper{width: 100% !important;}
.slider img{width: 100% !important;}
 h3{text-align: center;}
.tabs-fix-scroll{display: none !important}
 ul.view-all-cate li{height:auto !important}
 ul.view-all-cate .tit img{width:260px !important;height:260px !important}
	
/*Mobile danh muc san pham*/
.category-left{display:none !important}
.AliSource {display:none !important}
.item-product{height:auto !important}
.item-product li a img{width:260px !important; height:260px !important}


/*Mobile chi tiet*/
#etalage{width:100% !important;text-align:center !important;margin:0 !important}
#etalage li img{width:100% !important; height:100% !important}
.product-info{width:100% !important;text-align:center; margin:0 !important}
#tabs1-html table, #tabs1-html .box img{width:100% !important}
.howit{display:none !important}
li.tab{display:none !important}
li.tab:first-of-type{display:block !important}

/*Mobile tin tin tuc*/

.category-left-mobile{display:block !important}
.content img{width:100% !important}

#hContact{
		display: none;
	}
	
	.hTitle{
		font-size: 24px;
	}
	.theme-default{
		display: none;
	}
	#hSearch{
		top: 0;
		position: relative;
		width: auto;
		margin: 10px;
		display: none;
	}
	#hSearch select,
	#hSearch input[type=text]{
		width: 60%;
		margin: 6px 15%;
	}
	#hCate .cont{
		width: 50%;
	}
	#nav{
		display: none;
	}
	#fmenu{
		display: none;
	}
	#fcontact{
		display: block;
		float: none;
		padding: 0 5%;
		width: 90%;
	}
	
	
	#hNewPro .cont{
		width: 100%;
		margin-bottom: 20px;
	}
	#hNewPro .img{
		height: auto;
		width: 160px;
		float: left;
		margin-right: 10px;
	}
	#hNewPro .img img{
		min-height: 140px;
	}
	#hNewPro .cont .items{
		height: auto;
	}
	
	
	#hNews .cont{
		width: 100%;
	}
	#hNews .cont .items{
		margin: 10px !important;
	}
	#hNews .img img{
		height: auto;
	}
	#hNews .img{
		width: 160px;
		float: left;
		margin-right: 10px;
	}
	
	
	#hNewPro .img img{
		height: auto;
	}
	#hAlbum{
		display: none;
	}
	
	#hHotPro .cont{
		width: 100%;
		margin-bottom: 10px;
	}
	#hHotPro .cont .items{
		height: auto;
	}
	#hHotPro .img{
		margin-right: 10px;
		width: 120px;
		height: 100px;
	}
	#hHotPro .desc{
		float: none;
		width: 100%;
	}
	#hHotPro h3 a{
		font-size: 15px;
	}
	
	#hBlog .cont{
		width: 100%;
		margin-bottom: 10px;
	}
	#hBlog .img{
		width: 160px;
		float: left;
		margin-right: 10px;
	}
	#hBlog img{
		height: auto;
		min-height: 120px;
	}
	#hBlog .cont .items{
		height: auto;
	}
	
	#main{
		width: 100%;
	}
	#sidebar{
		display: none;
	}
	#breadcrumb h2{
		padding: 0 10px;
	}
	.product{
		padding: 0 10px;
	}
	.product .cont{
		width: 100%;
		float: none;
	}
	.product .img{
		margin-right: 10px;
	}
	.pro.view{
		padding: 10px;
	}
	
	#pOthers .cont{
		width: 100%;
		margin-bottom: 10px;
	}
	#pOthers .cont .items{
		margin: 0 !important;
		height: auto;
	}
	#pOthers .img img{
		height: auto;
	}
	
	#tShow .img{
		width: 100%;
		margin-bottom: 20px;
	}
	#tShow .cont{
		width: 100%;
	}
	#hCate .cont .img img{
		height: 160px;
	}
	.news{
		padding: 0 10px;
	}
	#breadcrumb p{
		display: none;
	}

}
@media screen and (max-width: 480px) {
	
	#hCate .cont{
		width: 100%;
	}
	#hCate .cont .img img{
		height: auto;
	}
	#hInfo{
		display: none;
	}

	#hNews .img{
		width: 100%;
		float: left;
		margin-right: 10px;
	}
	#hNewPro .img{
		width: 100%;
		float: none;
	}
	#mMenuItem{
		width: 100%;
	}
	
}
