/* CSS Document */
@font-face {
    font-family: Roboto,Helvetica,Tahoma,Arial,sans-serif,SimSun,"宋体";
    font-style: normal;
    font-weight: normal;
    src: url("../font/UTMAvenida.eot?#iefix") format("embedded-opentype"), url("font/UVNTinTucHepThem_B.woff") format("woff"), url("../font/UTMAvenida.TTF") format("truetype"), url("UVNTinTucHepThem_B.svg#UTMBebasRegular") format("svg");
}


* {
	padding:0;
	margin:0;
	font-family:Roboto,Tahoma, Geneva, sans-serif;
}
body {
	font-size: 14px;
	line-height: 1.5em;
	/*background:url(images/bg-body.png) no-repeat;*/
	
	width:100%;
	height:auto;
	vertical-align:middle;
}

.content{
    min-width: 100%;
    float: left;
}

.use {
	width:1200px;
	margin: 0 auto;
}
a {
	text-decoration:none;
	color:#000;
}
a:hover {
	color: #007cc2;
}
ul, li {
	list-style:none;
}
h1 {
	font-size:18px;
	line-height: 30px;
}
h2 {
	font-size:16px;
}
h3 {
	font-size:14px;
}
h4 {
	font-size:12px;
}
iframe {
	border: none;
}
textarea {
	border:1px solid #ccc;
}
input[type=text], input[type=number], input[type=date], input[type=url], input[type=password], input[type=email] {
	height:24px;
	border:1px solid #ccc;
	padding: 0 6px;
}
input[type=submit] {
	border: 1px solid #ccc;
	cursor: pointer;
	padding: 2px 8px;
	font-weight: bold;
}
select {
	padding: 3px;
	height: 26px;
}
textarea {
	height:120px;
}
.font_pro {
	font-family: lucpro !important;
}
img {
	border: none;
}
.transform {
	text-transform:uppercase;
}
.bold {
	font-weight:bold !important;
}
.clear {
	clear:both;
}
.bg-non {
	background: none !important;
}
.bg {
	background: #fff !important;
}
.bor {
	border:1px solid #ccc;
}
.bor-non {
	border: none !important;
}
.bor-top {
	border-top: 1px solid #f2f2f2;
	margin-top: 10px;
	line-height: 24px;
}
.bor-btm {
	border-bottom: 1px dotted #ccc;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.pad-non {
	padding: 0 !important;
}
.pad-sml {
	padding:5px;
}
.pad {
	padding:10px !important;
}
.pad-big {
	padding:20px;
}
.pad-stop {
	padding-top:5px;
}
.pad-top {
	padding-top:10px;
}
.pad-2top {
	padding-top:20px;
}
.pad-smid {
	padding: 5px 0;
}
.pad-mid {
	padding: 10px 0;
}
.pad-2mid {
	padding: 20px 0;
}
.pad-scen {
	padding: 0 5px;
}
.pad-cen {
	padding: 0 10px;
}
.pad-2cen {
	padding: 0 20px;
}
.pad-3cen {
	padding: 0 30px;
}
.mar-sml {
	margin:5px;
}
.mar {
	margin:10px;
}
.mar-2big {
	margin:20px;
}
.mar-3big {
	margin:30px;
}
.mar-5big {
	margin:50px;
}
.mar-x2 {
	margin: 2px;
}
.mar-smid {
	margin:5px 0;
}
.mar-mid {
	margin:10px 0;
}
.mar-2mid {
	margin:20px 0;
}
.mar-3mid {
	margin:30px 0;
}
.mar-scen {
	margin: 0 5px;
}
.mar-cen {
	margin: 0 10px;
}
.mar-2cen {
	margin: 0 20px;
}
.mar-stop {
	margin-top: 5px;
}
.mar-top {
	margin-top: 10px;
}
.mar-2top {
	margin-top: 20px;
}
.mar-3top {
	margin-top: 30px;
}
.mar-sbtm {
	margin-bottom: 5px;
}
.mar-btm {
	margin-bottom: 10px;
}
.mar-2btm {
	margin-bottom: 20px !important;
}
.mar-3btm {
	margin-bottom: 30px;
}
.mar-srgt {
	margin-right: 5px;
}
.mar-rgt {
	margin-right: 10px;
}
.mar-2rgt {
	margin-right: 20px;
}
.mar-3rgt {
	margin-right: 30px;
}
.mar-5rgt {
	margin-right: 50px;
}
.mar-slft {
	margin-left: 5px;
}
.mar-lft {
	margin-left: 10px;
}
.mar-2lft {
	margin-left: 20px;
}
.mar-3lft {
	margin-left: 30px;
}
.btn {
	padding:3px 16px;
	text-transform:uppercase;
	border-radius:12px;
	font-size:11px;
	color:#f2f2f2;
}
.btn:hover {
	color:#fff;
	text-decoration:none;
}
.img {
	overflow:hidden;
}
.img img {
	width:100%;
	
}
.ava {
	border: 1px solid #f2f2f2;
	padding: 1px;
}
.ava img {
	width:100%;
}
.align-lft {
	text-align: left !important;
}
.align-rgt {
	text-align: right !important;
}
.align-cen {
	text-align: center !important;
}
.align-jus {
	text-align: justify;
}
.color-red {
	color: red;
}
.fnt-x90 {
	width:90px !important;
}
.fnt-x120 {
	width:120px !important;
}
.fnt-x200 {
	width:200px !important;
}
.fnt-x250 {
	width:250px !important;
}
.fnt-x300 {
	width:300px !important;
}
.fnt-x360 {
	width:360px !important;
}
.fnt-x520 {
	width:520px !important;
}
.col-important {
	color:#d02328;
}
.wap-x100 {
	width:100% !important;
	float:left;
}
.wap-x85 {
	width:85% !important;
	float:left;
}
.wap-x80 {
	width:80% !important;
	float:left;
}
.wap-x75 {
	width:75% !important;
	float:left;
}
.wap-x70 {
	width:70% !important;
	float:left;
}
.wap-x65 {
	width:65% !important;
	float:left;
}
.wap-x60 {
	width:60% !important;
	float:left;
}
.wap-x55 {
	width:55% !important;
	float:left;
}
.wap-x52 {
	width:52% !important;
	float:left;
}
.wap-x50 {
	width:50% !important;
	float:left;
}
.wap-x45 {
	width:45% !important;
	float:left;
}
.wap-x40 {
	width:40% !important;
	float:left;
}
.wap-x35 {
	width:35% !important;
	float:left;
}
.wap-x33 {
	width:33.33% !important;
	float:left;
}
.wap-x30 {
	width:30% !important;
	float:left;
}
.wap-x28 {
	width:28% !important;
	float:left;
}
.wap-x25 {
	width:25% !important;
	float:left;
}
.wap-x20 {
	width:20% !important;
	float:left;
}
.wap-x16 {
	width:16.66% !important;
	float:left;
}
.wap-x15 {
	width:15% !important;
	float:left;
}
.wap-x12 {
	width:12.5% !important;
	float:left;
}
.wap-x10 {
	width:10% !important;
	float:left;
}
.font-x11 {
	font-size: 11px;
}
.font-x12 {
	font-size: 12px;
}
.font-x13 {
	font-size: 13px;
}
.font-x14 {
	font-size: 14px;
}
.font-x16 {
	font-size: 16px;
}
.font-x18 {
	font-size: 18px;
}
.font-x20 {
	font-size: 20px;
}
.font-x24 {
	font-size: 24px;
}
.paging{line-height: 24px;
text-align: right;
padding: 5px;
float: left;}
.paging a {
	padding: 2px 3px;
	float:left
}
.shadow {
	box-shadow: 0px 0px 4px 2px #e5e5e5;
}
.relactive {
	position: relative;
	z-index: 199;
}
.show {
	display: block !important;
}
.hide {
	display: none !important;
}
.showFrm {
	display: none;
	top: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	background: #333;
	opacity: 0.5;
	z-index: 9900;
}
.lf {
	float: left;
}
.rg {
	float: right;
}
.table {
	border-collapse: collapse;
	width: 100%;
}
.table td, .table th {
	padding: 6px 3px;
}
.tableBor td, .tableBor th {
	border: 1px solid #ccc;
}
.tableBor input {
	width: 30px;
}
#news_other {
}
#news_other h3 {
	color: #053D57;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #053D57;
}
#news_other p {
	line-height: 30px;
	padding-left: 12px;
	background: url("../images/icon/news_other.gif") left no-repeat;
}
#news_other p a {
	color: #053D57;
}
.bdcont {
	padding: 5px;
	border: 1px solid #ccc;
	background: #fff;
}
#FrmSearch {
	overflow: hidden;
	float: left;
	margin-left: 24px;
	height: 29px;
	width: 294px;
	background: url("../images/bg/search.png") center no-repeat;
}
#FrmSearch input {
	float: left;
	border: none;
	margin-top: 4px;
	background: none;
	color: #000;
}
#FrmSearch input[type=text] {
	margin-left: 20px;
	width: 210px;
}
#FrmSearch input[type=submit] {
	background: url("../images/icon/search.png") center no-repeat;
	width: 28px;
	height: 24px;
}
::-webkit-input-placeholder { /* WebKit browsers */
 color:    #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:    #000;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:    #000;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
 color:    #000;
}
/* Gio hang */
#cart_hand {
	margin: 10px 0;
}
#cart_hand a {
	background: #007cc2;
	padding: 6px 12px;
	color: #fff;
	font-weight: bold;
	display: inline-block;
}
#cart_hand a:hover {
	text-decoration: none;
	background: #F00;
}
/* css cho ngon ngu */
#languages {
	float: right;
	margin: 4px;
}
#languages li {
	float: left;
	padding: 3px 8px;
}
#languages li span {
	line-height: 24px;
	float: left;
	color: #666;
	padding-right: 4px;
}
[id^=flag_] {
 width: 24px;
 height: 24px;
 display: inline-block;
 float: left;
 background-repeat: no-repeat;
 background-position: center;
}
#flag_vi {
	background-image: url("flags/vi.png");
}
#flag_en {
	background-image: url("flags/en.png");
}

/* css cho ngon ngu */

[class^=stat_] {
 font-weight: bold;
 line-height: 3em;
 padding-left: 24px;
 border-bottom: 1px solid #f2f2f2;
}
[class^=stat_] span {
 float: right;
}
.stat_total {
	background: url("images/stat_total.png") left no-repeat;
}
.stat_today {
	background: url("images/stat_today.png") left no-repeat;
}
.stat_online {
	background: url("images/stat_online.png") left no-repeat;
}
label.error {
	  width: 100%;
  padding: 3px 0;
  font-size: 11px;
  font-weight: bold;
  color: #d40307;
  display: block;
}
.paging {
	line-height: 24px;
	text-align: right;
	padding: 5px;
}
.paging a {
	padding: 4px 10px;
	margin: 2px;
	font-weight: bold;
	box-shadow: 0 0 2px 1px #ccc;
}
.paging a.current {
	background: #d40307;
	color: #fff;
}
.shadowmenu {
	float:left;
	width:960px;
	background:url(images/bong-menu.png);
	height:15px;
}
.shadowslide {
	float:left;
	width:960px;
	background:url(images/bong-slide.png);
	height:20px;
	margin-top:-19px;
}
