/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 27, 2015, 8:53:41 AM
    Author     : Administrator
*/

margin{
    margin: 0px;
    padding: 0px;
}

.head{
    min-width: 100%;
    height: 90px;
    box-shadow: 2px 2px 3px rgba(0,0,0,.1);
    float: left;
}

.head .head-content{
    height: 90px;

}

.head .head-content .logo{
    float: left;
    height: 90px;
    line-height: 110px;
}

/* 
   code for sing-join
   
*/

.head .head-content .sing-join{
    float: left;
    height: 90px;
    line-height: 90px;
    padding-left: 30px;
}

.head .head-content .sing-join p a{
    color: #007cc2;
    padding: 0px 5px;
}

.head .head-content .sing-join p a:hover{
    color: #FF8722;
    text-decoration: underline;
}

/*
    code for .my-alibaba

*/

.head .my-alibaba{
    height: 90px;
    float: left; 
}

ul.menu{
    list-style: none;
}

ul.menu li{
    margin-top: 30px;
    height: auto;
    line-height: 30px;
    position: relative;
}

ul.menu li a{
    color: #000;
    padding: 7px 15px;
    color: #dedede;
    border-radius: 3px 3px 0px 0px;
}

ul.menu > li:hover > a{
    background: #1686CC;
}


ul.menu ul{
    position: absolute;
    top: 30px;
    cursor: pointer;
    left: 0px;
    width: 200px;
    border: 1px #dedede solid;
    padding: 3px 0px;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #dedede;
    display: none;
}

ul.menu ul li{
    padding: 0px;
    margin: 0px;
    width: 100%;
    background: white;
}

ul.menu li:hover{
    background: #dedede;   
}

ul.menu li a{
    background: none;
    color: #000;
}

ul.menu ul li.space{
    padding: 0px 15px;
    width: auto;
}

ul.menu ul li.space:hover{
    background: none;

}

ul.menu ul li p{
    padding: 0px;
    border-top: 1px #dedede solid;
}


ul.menu li:hover > ul{
    display: block;
}


.head .menu-about{
    float: right;
    width: auto;
    height: 90px;
}

.head .menu-about .menu-general{
    float: left;
    width: auto;
    height: 90px;
}

.head .about-alibaba{
    float: left;
    height: auto;
    line-height: 90px;
    padding-top: 14px;
    padding-left: 10px;
}


.head .about-alibaba a{
    color: #000;
    float: left;
    clear: both;
    line-height: 20px;

}

.head .about-alibaba a:hover{
    color: #FF7E11;
}

.head .about-alibaba a.fade{
    color: #dedede;
}

.head .about-alibaba a.fade:hover{
    color: #FF7E11;
}

/*********************************/

/*
    code for #category
*/








.nivo-controlNav{
    position: absolute;
    bottom: 0px;

    left: 50%;
}

.nivo-controlNav a{
    color: #000;
    padding: 0px 5px;
    border: 2px #dedede solid;
    margin: 0px 5px 0px 0px;
    border-radius: 10px;
    background: white;
}

div.box-category .slide .visit{
    float: left;
    width:100%;
    margin: 10px 0px;
}

div.box-category .slide .visit .visit-content-left, .visit-content-right{
    float: left;
    width: 49%;

}

div.box-category .slide .visit .visit-content-left{
    border-right: 1px #e6e6e6 solid;
}

div.box-category .slide .visit  h3{
    padding: 10px;
}

div.box-category .slide .visit  h3 a{
    color: #000;
}
div.box-category .slide .visit  h3 a:hover{
    color: #FF9249;
}

div.box-category .slide .visit p{
    margin-left: 10px;
    color: #000;
    font-size: 12px;
}
div.box-category .slide .visit p:hover{
    color: #FF9249;
    cursor: pointer;
}



div.box-category .slide .visit .visit-content-bot{
    width: 100%;
    height: 100px;
    float: left;
}

div.box-category .slide .visit .visit-content-bot img{
    float: right;
}

div.box-category .slide .visit .visit-content-bot a{
    float: left;
    color: blue;
    margin-top: 47px;
    margin-left: 10px;
}

div.box-category .slide .visit .visit-content-bot a:hover{
    text-decoration: underline;
    color: #FF9249;
}


div#category .right{
    width: 425px;
    float: left;

}

div#category .right .guide{
    float: left;
    width: 100%;
    border: 1px #dedede solid;
    padding: 30px 20px;
}

div#category .right .guide a.logo-guide{
    background: url('../images/ghome.png') no-repeat;
    background-position: -400px 0px;
    height: 24px;
    display: block;
}

div#category .right .guide a.title{
    font-size: 32px;
    display: block;
    line-height: 36px;
}

div#category .right .guide .item{
    float: left;
    width: 90px;
    padding-top: 92px;
}

div#category .right .guide .item .sub-title{
    height: 26px;
    line-height: 26px;
    color: #333;
    font-size: 16px;
    font-weight: 700;
}

div#category .right .guide .item .description{
    font-size: 12px;
    color: #999;
    height: 50px;
    line-height: 16px;
}

div#category .right .guide .item-simple{
    background: url('../images/ghome.png') no-repeat;
    background-position: 0 -610px;
}

div#category .right .guide .item-efficient{
    background: url('../images/ghome.png') no-repeat;
    background-position: -120px -610px;
}

div#category .right .guide .item-allinone{
    background: url('../images/ghome.png') no-repeat;
    background-position: -240px -610px;
}

div#category .right .guide .arrow{
    float: left;
    height: 55px;
    width: 66px;
    background: url('../images/ghome.png') no-repeat;
    background-position: -365px -41px;
}

div#category .right .guide .action{
    width: 100%;
    float: left;
    margin-top: 30px;


}

div#category .right .guide .action a{
    display: block;
    height:50px;
    line-height: 50px;
    border-radius: 3px;
    background-color: #1686cc;
    font-size: 18px;
    color: #fff;
    padding-left: 20px;
    position: relative;
}

div#category .right .guide .action a::after{
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0px;
    top: 0px;
    background: url('../images/ghome.png') no-repeat;
    background-position: 100% -330px;
}

div#category .right .wrap{
    float: left;
    width: 100%;
    height: 160px;
    border: 1px #dedede solid;
    border-top: none;
    padding: 30px 20px 0px 20px;
}

div#category .right .wrap .wrap-content{
    width: 100%;
    height: 100%;
    background: url('../images/TB1Ai.NHpXXXXbVXpXXqtHZ5XXX-436-160.jpg') no-repeat;
    position: relative;
}

div#category .right .wrap .wrap-content a{
    display: block;
    height: 20px;
    line-height: 20px;
}

div#category .right .wrap .wrap-content .title{
    font-size: 20px;
    color: #323232;
    height: 20px;
    line-height: 20px;
    margin-top: -2px;
    margin-bottom: 35px;
}

div#category .right .wrap .wrap-content a.benefit-point{
    font-size: 12px;
    color: #666;
    height: 12px;
    line-height: 16px;
    padding-top: 7px;
    width: 170px;
}

div#category .right .wrap .wrap-content a.action{
    position: absolute;
    left: 0;
    bottom: 10px;
    font-size: 12px;
    color: #666;
    height: 12px;
    line-height: 12px;
}

/*********************************/

div#container{
    float: left;
    //width: 100%;
    background: #F5F5F5;
}

div#container .wholesale{
    margin-top: 50px;

}

div#container .wholesale .description{
    width: 200px;
    height: 228px;
    padding: 20px;
    background: white;
    border: 1px #dedede solid;
    float: left;
}

div#container .wholesale .description .title{
    font-size: 22px;
    font-weight: 900;
    color: #333;
    height: 32px;
    line-height: 32px;
}

div#container .wholesale .description .sub-title{
    margin-top: 30px;
}

div#container .wholesale .description .sub-title a{
    font-size: 14px;
    color: #999;
    height: 36px;
    margin-top: 2px;
}


div#container .wholesale .description .sub-title a:hover{
    color: #FF771C;
}

div#container .wholesale .description .sub-title a span:hover{
    color: #FF771C;
}

div#container .wholesale .description .sub-title a span{
    display: block;
    font-size: 32px;
    color: #333;

    margin-top: 14px;
}

div#container .wholesale .description .viewmore{
    margin-top: 20px;

}

div#container .wholesale .description .viewmore a{
    color: blue;
}

div#container .wholesale .description .viewmore a:hover{
    color: #FF771C;
    text-decoration: underline;
}

div#container .wholesale .slide{
    width: 955px;
    float: left;
    height: 268px;
    background: white;
    border: 1px #dedede solid;
    border-left: none;
}


div#container .slide ul.bxsliders li{
    list-style: none;

    box-sizing: border-box;
    display: inline-block;
    float: left;
    position: relative;
}

div#container .wholesale .slide ul.bxsliders li .bxslide-item{
    width: 120px;
    padding-top: 31px;
    margin: 0 auto;
}

div#container .wholesale .slide ul.bxsliders li .bxslide-item a{
    display: block;
    font-size: 14px;
    color: #666;
    line-height: 16px;
    max-height: 162px;
    overflow: hidden;
}

div#container .wholesale .slide ul.bxsliders li .bxslide-item a img{
    height: 120px;
    width: 120px;
    display: block;
    margin-bottom: 10px;
}

div#container .wholesale .slide ul.bxsliders li .price span{
    font-size: 12px;
    color: #D34F1F;
    line-height: 20px;
    height: 20px;
    margin-top: 7px;
}

div#container .bx-default-pager{
    display: none;
}

.verifieds{
    height: 30px; 

}

.verifieds div{
    float: left;
    width: 24px; height: 30px;

}

div#m-region{

    border: 1px solid #ededed;
    margin-top: -1px;
    padding: 20px;
    float: left;
    width: 1157px;
    background-color: #fafafa;
}

div#m-region ul.util-clearfix li{
    float: left;
}


div#m-region ul.util-clearfix li.title{
    font-size: 16px;
    font-weight: 700;
    color: #333;
    line-height: 30px;
    height: 30px;
    margin-right: 5px;
    margin-left: 0;
    background-image: none;
}

div#m-region ul.util-clearfix li a{
    display: block;
    font-size: 12px;
    color: #999;
    line-height: 30px;
    height: 30px;
    padding-left: 36px;
    background-position: 10px 7px;
    background-repeat: no-repeat;

}

div#m-region .action-container{
    text-align: right;
}
div#m-region .action-container a{
    font-size: 14px;
    color: #1686cc;
    line-height: 30px;
    height: 30px;

}

div#m-region .action-container a:hover{
    color: #FF9249;
    text-decoration: underline;
}


/********************/

div.hot-product{
    margin-top: 50px;
    float: left;
    width: 100%;

}

div.hot-product .wrapper{
    background: white;
}

div.hot-product .wrapper h3{
    padding: 20px;
    font-size: 22px;
}


div.hot-product a.bx-prev{
    right: 30px;
}

div.services{
    margin-top: 50px;
    float: left;
    width: 100%;
    margin-bottom: 80px;
}

div.services .service-content{ 
    width: 100%;
    float: left;
    background: white;
}

div.services .garena{
    float: left;
    width: 258px;
    border-right: 1px #dedede solid;
    padding: 20px;
}

div.services .garena:last-child{
    border-right: none;
}

div.services .garena a:hover{
    color:#FF771C;
    text-decoration: underline;
}

div.services .business h3{
    padding: 15px 10px 15px 20px;
    margin-bottom: 20px;
    background: url('../images/ghome.png') no-repeat left;
    background-position: -176px -866px;
}

div.services .business span{
    font-size: 18px;

}

div.services .garena p{
    margin-top: 20px;
}

/*
*   code for #footer
**/

div#footer{
    float: left;
    min-width: 100%;
    background: whiteSmoke;
   
}

div#footer .support{
    margin-top: 30px;
}

div#footer .support .box-support{
    width: 240px;
    float: left;
    border-bottom: 1px #000 solid;
    padding-bottom: 25px;
}

div#footer .support .box-support ul li a{
    color: #999999;
}

div#footer .copyright{
    margin-top: 30px;
}

div#footer .copyright .util-clearfix{
    padding: 20px 10px;
    line-height: 20px;
    float: left;
}

div#footer .copyright .util-clearfix .free-app{

    height: 30px;
    margin-right: 7px;
    float: left;

}

div#footer .copyright .util-clearfix .free-app .title{
    float: left;
    margin-right: 20px;
    height: 30px;
    line-height: 30px;
}


div#footer .copyright .util-clearfix .free-app .googleplay{ 
    background: url('../images/new-footer-v4-2@1x.png')no-repeat;
    background-position:0 -100px;
    width: 130px;
    height: 30px;
    float: left;
}

div#footer .copyright .util-clearfix .free-app .appstore{ 
    background: url('../images/new-footer-v4-2@1x.png')no-repeat;
    background-position:0 -150px;
    width: 130px;
    height: 30px;
    float: left;
    margin-left: 10px;
}

div#footer .copyright .util-clearfix .tradeManager{
    height: 30px;
    float: left;
}

div#footer .copyright .util-clearfix .free-app .trademanager{
    height: 30px;
    line-height: 30px;
    margin-right: 35px;
    float: left;
    margin-left: 60px;
    position: relative;
}

div#footer .copyright .util-clearfix .free-app .trademanager::after{
    position: absolute;
    top: 0px;
    right: -40px;
    content: "";
    width: 30px;
    height: 30px;
    background: url('../images/new-footer-v4-2@1x.png')no-repeat;
    background-position: -150px 0;

}

div#footer .copyright .util-clearfix .free-app .follow{
    float: left;
    height: 30px;
    margin-left: 50px;
    line-height: 30px;
}

div#footer .copyright .util-clearfix .free-app .follow span{
    float: left;
}

div#footer .copyright .util-clearfix .free-app .follow a div{
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 5px;
}

div#footer .copyright .util-clearfix .free-app .follow a div.fb{
    background: url('../images/new-footer-v4-2@1x.png')no-repeat;
    background-position: 0px 0px;
}

div#footer .copyright .util-clearfix .free-app .follow a div.tw{
    background: url('../images/new-footer-v4-2@1x.png')no-repeat;
    background-position: 0px -25px;
}

div#footer .copyright .util-clearfix .free-app .follow a div.tw{
    background: url('../images/new-footer-v4-2@1x.png')no-repeat;
    background-position: 0px -25px;
}

div#footer .copyright .util-clearfix .free-app .follow a div.youtube{
    background: url('../images/new-footer-v4-2@1x.png')no-repeat;
    background-position: 0px -50px;
}

div#footer .copyright .util-clearfix .free-app .follow a div.linhkin{
    background: url('../images/new-footer-v4-2@1x.png')no-repeat;
    background-position: 0px -75px;
}

div#footer .copyright .util-clearfix .free-app .subscribe{
    float: left;
    height: 30px;
    margin-left: 20px;
}

div#footer .copyright .util-clearfix .free-app .subscribe form input[type=text]{
    line-height: 20px;
    height: 20px;
    padding: 4px 0 4px 10px;
    width: 180px;
    margin-right: -5px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #ccc;
    font-family: inherit;
}

div#footer .copyright .util-clearfix .free-app .subscribe form input[type=submit]{
    padding: 6px 15px;
    color: #fff;
    background-color: #555;
    font-weight: 400;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    font-family: inherit;
    float: left;
}

div#footer .copyright .util-clearfix .end-footer{
    margin-top: 30px;
    width: 1200px;

}

div#footer .copyright .util-clearfix .end-footer p{
    padding: 0 16px;
    font-size: 12px;
    text-align: center;
}

div#footer .copyright .util-clearfix .end-footer p i{
    background: url('../images/new-footer-v4-2@1x.png');
    background-position: -100px 0;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}

div.marg{
    margin: 20px 0px;
}