#wrapper{padding-bottom: 50px;}

div.about p,
div.about a{
    color: #999;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
}

div.about a:hover{
    color: #FF771C;
    text-decoration: underline;
}


.backcrum{
    width: 100%;
    float: left;
}

.backcrum span{
    float: left;
    color: #000;
}

.backcrum span a{
    color: #424242;
}

.backcrum-mnu {
    float: right;
    margin-right: 30px;
}

.backcrum-mnu ul.menu-header > li > a{
    color: #000;
}



.container{
    margin-top: 30px;
}

.container-left{

    border-right: 1px #dedede solid;
    float: left;
    width: 930px;
    padding-right: 15px;
    padding-bottom: 30px;
}

.container-left .product-info{
    float: left;
    margin-left: 20px;
    width: 540px;
}

.container-left .product-info h3{
    font-weight: 500;
    font-size: 16px;
}

.container-left .product-info table tr{
    display: block;
    padding-bottom: 0;
    padding: 7px 0;
}

.container-left .product-info table tr th{
    color: #999;
    font-size: 12px;
    font-weight: 300;
    width: 90px;
    text-align: left;
}

.container-left .product-info table tr td{
    color: #333;
    font-size: 12px;
    vertical-align: top;
    text-align: left;
}

.container-right{
    float: left;
    width: 230px;
    margin-left: 15px;   
}

.container-right ul{padding: 10px 0px 5px 20px;border: 1px solid #ccc;border-top:0}
.container-right h3{
	
text-align: center;
  background: #f60;
  border-radius: 5px 5px 0 0;
  color: #fff;
  padding: 8px 0;
}
.button{
     padding: 5px 0;

}

.button .item{
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-right: 15px;
}

.button .item a.contact{
    padding: 8px 12px;
    display: block;
    font-size: 18px;
    text-align: left;
    margin-bottom: 20px;
    max-width: 180px;
    color: #fff;
    border: 1px solid #e87b0e;
    background-color: #ff9917;
}

.button .item a.chatnow{
    padding: 8px 12px;
    display: block;
    font-size: 18px;
    text-align: left;
    margin-bottom: 20px;
    max-width: 180px;
    color: #1996E6;
    border: 1px solid #bcbcbc;
    background-color: #eee;
}

.button .item a.contact:hover{
    background: #f5ad52;
}

.button .item a.chatnow:hover{
    color: #FAB125;
}

.button .item a span.ico-csb{
    background: transparent url('../images/ls-sprites-v5.png') no-repeat -239px 2px;
    display: inline-block;
    height: 18px;
    margin-right: 5px;
    position: relative;
    top: -2px;
    vertical-align: middle;
    width: 18px;
}

.button .item a span.ico{
    background: transparent url('../images/ls-sprites-v5.png') no-repeat -480px -1px;
    display: inline-block;
    height: 18px;
    margin-right: 5px;
    position: relative;
    top: -2px;
    vertical-align: middle;
    width: 18px;
}

div.functions{
    float: left;
    width: 100%;
}

div.functions .item{
    float: left;
    margin-right: 30px;
}

div.functions .item a{
    font-size: 12px;
    color: #1996E6; 
}

div.functions .item a:hover{
    color: #F5AD52;
    text-decoration: underline;
}

div.functions .item a.start-order span{
    background: transparent url('../images/ls-sprites-v5.png') no-repeat -478px -196px;
    width: 30px;
    height: 20px;
    margin-top: 3px;
}

div.functions .item a.inquiry-cart span{
    background: transparent url('../images/ls-sprites-v5.png') no-repeat -461px -623px;
    width: 30px;
    height: 20px;
    margin-top: 3px;
}

div.functions .item a.favorites span{
    background: transparent url('../images/ls-sprites-v5.png') no-repeat -478px -196px;
    width: 30px;
    height: 20px;
    margin-top: 3px;
}

div.assurance{
    width: 520px;
    margin-top: 15px;
    float: left;
    border: 1px #dedede solid;
    background: #F5F7FA;
    padding: 20px 0px 20px 20px;
}

div.assurance span.background{
    float: left;
    width: 36px;
    height: 38px;
    background: transparent url('../images/ls-sprites-v5.png') no-repeat -463px -222px;
}

div.assurance .desc{
    float: left;
      margin-left: 70px;
  margin-top: -35px;

}

div.assurance .desc .title{
    font-size: 16px;
    color: #999;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 8px;
}

div.assurance .desc .title span.ta{
    color: #333;
}

div.assurance .desc .title .sub-title{
    font-size: 14px;
    font-weight: 400;
    padding-top: 6px;
    padding-bottom: 3px;
}

div.list{
    line-height: 18px;
    padding-bottom: 6px;
}

div.list .point {
    color: #999;
    padding-right: 5px;
    font-size: 18px;
    vertical-align: middle;
}

div.list .line a.mark{
    color: #f90;
}

div.assurance .desc  a.learn-more{
    float: right;
    color: #1996E6;
}
div.assurance .desc  a.learn-more:hover{
    color: #F5AD52;
}


div.detailts-product{
    float: left;
    height: 30px;
    width: 100%;
    position: relative;
    border-top: 2px #dedede solid;
   
}

div.detailts-product .detailts-tab{
    float: left;
    position: absolute;
    top: -39px;
    left: -1px;
}

div.detailts-product .detailts-tab .tab{
    float: left;
    border-left: 1px #dedede solid;
    border-right: 1px #dedede solid;
    border-top: 2px #dedede solid;
    border-bottom: 2px #dedede solid;
    background: white;
    margin-right: 10px;
   
}

div.detailts-product .detailts-tab .tab h3{
    padding: 7px 15px;
}

div.detailts-product .detailts-tab .tab:last-child{
    margin-right: 0px;
}

div.detailts-product .detailts-tab .active{
   border-bottom: 2px white solid;
}

div.packing{
    width: 100%;
    float: left;
    border-top: 0px;
    border-left: 1px #dedede solid;
    border-right: 1px #dedede solid;
    border-bottom: 2px #dedede solid;
    position: absolute;
    top: -2px;
    left:-1px;
    height: 40px;
}

div.packing .time-line{
   
    float: left;
    height: 40px;
    margin-left: 40px;
    line-height: 40px;
    position: relative;
}

div.packing .time-line i{
    background: url('../images/tải xuống.png');
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: -5px;
    left: 50%;
}

.ls-company{
  
}

.ls-company .box{
    font-size: 12px;
    padding: 20px 0px;
    border-bottom: 1px #dedede dotted;
}

.ls-company .box p{
    line-height: 40px;
}

.ls-company .box a{
    color: blue;
}

.ls-company .box a:hover {
  text-decoration: underline;
  color: #F5AD52;
}

.ls-company .basic-infomartion table td.icon span{
     background: transparent url('../images/ls-sprites-v5.png') no-repeat -36px -80px;
     width: 20px; height: 20px;
}

.ls-company .basic-infomartion table td.name,
.ls-company .basic-infomartion table td.info{
    min-width: 200px;
    max-width: 500px;
}

.supplier{
    padding-bottom: 50px;
    border-bottom: 3px #dedede solid !important;
}

div.contact{
    padding: 10px;
    border: 3px #B3DAFF solid;
    margin-top: 30px;
}

div.contact table tr td.first{
    width: 150px;
    text-align: right;
}

div.contact table tr td textarea{
    width: 500px;
}

div.contact table .text-send-mesage{
    position: relative;
}

div.contact table tr .ui-balloon-lt{
    width: 200px;
    border: 1px #dedede solid;
    position: absolute;
    top: 6px;
    right: -175px;
    padding: 10px;
    box-shadow: 3px 3px 3px #dedede;
}

div.contact table tr td select,
div.contact table tr td input[type=text]{
    width: 200px;
}

div.contact table tr td input[type=submit]{
  background: #F8AE22;
   padding: 7px 15px;
   border: 1px solid #e87b0e;
   border-radius: 3px;
   color: white;
}

div.howit{
    margin-top: 30px;
}

div.read-more{
    border: 1px #dedede solid;
    margin-top: 30px;
    padding: 10px;
    float: left;
    width: 900px;
}

div.read-more .read-item{
    border-bottom: 1px #dedede dotted;
    float: left;
    padding-bottom: 20px;
}

div.read-more .item{
    float: left;
    width: 300px;
}

div.read-more .blue a{
    color: blue;
}

div.read-more .red a{
    color: red;
}





.etabs { margin-top: 10px; padding: 0;   border-bottom: 2px #dedede solid; }
.tab { display: inline-block; zoom:1; *display:inline; background: #eee;  -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; }
.tab a { font-size: 14px; line-height: 2em; display: block; padding: 0 10px; outline: none; }
.tab a:hover { text-decoration: none; }
.tab.active { background: #f60; padding-top: 6px; position: relative; top: 1px; }
.tab a.active { font-weight: bold; color: #fff}
.tab-container .panel-container { background: #fff; border: solid #666 1px; padding: 10px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; }

img.etalage_small_thumb{width: 64px !important;height: 60px !important;}