/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 26, 2015, 9:38:47 AM
    Author     : Administrator
*/

*{
    font-size: 12px;
}




.cart-order-favori{
    float: left;
    height: 38px;
    border: 1px #dedede solid;
    border-bottom: 0px;
    border-right: 0px;
    border-radius: 3px;
    margin-left: 31px;
}

.cart-order-favori .garenal{
    float: left;
    border-right: 1px #dedede solid;
    padding-left: 7px;
    height: 38px;
    line-height: 38px;
    border-bottom: 1px #dedede solid;
    cursor: pointer;
}

.cart-order-favori .garenal a{
    color: #2187c9;
    font-size: 14px;
}

.cart-order-favori .cart{
    position: relative;
}


.cart-order-favori .cart .icon-shopping-cart{
    width: 90px;
    height: 38px;
    float: left;
    background: url('../images/wholesale-sprites.png') no-repeat;
    background-position: 0px 4px;
}

.cart-order-favori .cart .srart-shopping{
    position: absolute;
    background: white;
    top: 38px;
    right: -1px;
    border: 1px #dedede solid;
    display: none;
    width: 340px;
    z-index: 9999;
}


.cart-order-favori .cart:hover > .srart-shopping{
    display: block;
}

.cart-order-favori .cart .srart-shopping p{
    text-align: center;
    height: 60px;
    line-height: 60px;
}

.cart-order-favori .orders{
    width: 60px;
}

.cart-order-favori .orders span.icon{
    width: 10px;
    float: right;
    margin-top: 16px;
    margin-right: 5px;
    height: 7px;
    background: url('../images/wholesale-sprites.png') no-repeat;
    background-position: -258px 2px;
}

.cart-order-favori .favori{
    width: 60px;
}

.box-search .des-logo{
    float: left;
    height: 38px;
    line-height: 38px;
    margin-left: 10px;
}

.box-search .des-logo a{
    font-size: 18px;
    font-weight: 300;
    color: #333;
}





div.box-category .slide{
    width: 470px;
     float: left;
}

div.box-category .slide .slider {
    height: 417px;
}
div.box-category .slide .slider img{
     width: 470px;
     height: 416px;
}

div.box-category .col-banner{
    width: 325px;
    border: 1px #dedede solid;
    float: left;
   
}

div.box-category .col-banner .banner01{
    width: 100%;
    height: 195px;
    background: url('../images/TB1WVDnHpXXXXbAXXXXaYVQVpXX-278-195.png')no-repeat;

}

div.box-category .col-banner .banner02{
    width: 100%;
    height: 222px;
    background: url('../images/TB1yhThHpXXXXamaXXXdLBPVpXX-278-222.png')no-repeat;

}

ul#cate-menu .cate-icon{
    width: 30px;
    height: 40px;
    background: url('../images/categories.png') no-repeat;

    float: left;

}

ul#cate-menu .cate-icon-01{
    background-position: 0px 10px;
}

ul#cate-menu .cate-icon-02{
    background-position: 0px -30px;
}

ul#cate-menu .cate-icon-03{
    background-position: 0px -60px;
}

ul#cate-menu .cate-icon-04{
    background-position: 0px -100px;
}

ul#cate-menu .cate-icon-05{
    background-position: 0px -130px;
}

ul#cate-menu .cate-icon-06{
    background-position: 0px -168px;
}

ul#cate-menu .cate-icon-07{
    background-position: 0px -207px;
}

ul#cate-menu .cate-icon-08{
    background-position: 0px -242px;
}

ul#cate-menu .cate-icon-09{
    background-position: 0px -277px;
}


/**code for category**/

div.box-category{
    width: 100%;
    float: left;
    padding-top:20px;
}

div.box-category #menu-cate{
    width: 150px;
    float: left;
    width: 228px;
    position: relative;
    border-right: 1px solid #ccc;


}

div.box-category #menu-cate span{
    padding-left: 30px;
    background: url("../images/ghome.png") no-repeat;
    font-weight: 900;
    color: #f60;
    font-size: 15px;
}

div.box-category #menu-cate > ul{
    width: 100%;
    float: left;
    list-style: none;
    height: 394px;

}

div.box-category #menu-cate ul li{
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    padding-right:10px;
    width: 100%;
    float: left;
    z-index: 99999;   
    transition: all ease 0.5s;
}


div.box-category #menu-cate ul#cate-menu > li::after{
    content:"";
    width: 20px;
    position: absolute;
    height: 50px;
    background: url('../images/ghome.png') no-repeat right;
    background-position: 0px -30px;
    right: 0px;
}

ul#cate-menu > li > .cate-infos{
    width: 600px;
    background: white;
    padding: 20px 0px 0px 20px;
    border: 1px #dedede solid;
    box-shadow: 3px 3px 3px #dedede;
    position: absolute;
    top: 0px;
    left: 229px;
    z-index: 9999;
    display: none;
    height: 395px;
    border-left: 0;
}
@-webkit-keyframes mnu-effect
{
    0%   {-webkit-transform: translate(0px, 0px); }
    25%  {-webkit-transform: translate(15px, 0px);}
    50%  {-webkit-transform: translate(30px, 0px); }
    75%  {-webkit-transform: translate(15px, 0px); }
    100% {-webkit-transform: translate(30px, 0px); }
}

div.box-category #menu-cate ul#cate-menu > li:hover{
    //-webkit-animation: mnu-effect 0.8s linear 0s 1 alternate;
    border: 1px #dedede solid;
    box-shadow: 0px 3px 3px #dedede;
    //background: url('../images/ghome.png') no-repeat;
    background-position: 0px -90px;
    right: 0px; 
    background:#fff;
    z-index: 999;
     padding-left: 20px;
      -webkit-transition: all ease 0.3s;
    
}

div.box-category #menu-cate ul#cate-menu li > a{
    color: #000;
    float: left;
}

div.box-category #menu-cate ul#cate-menu li > a.link-all-cate{
    color: blue;
}

div.box-category #menu-cate ul li .cate-info{
    width: 469px;
    height: 500px;
    border: 1px #dedede solid;
    box-shadow: 3px 3px 3px #dedede;
    position: absolute;
    top: 0px;
    left: 250px;
    display: none;
    background: white;
    z-index: 9999;
}


div.box-category #menu-cate ul li:hover .cate-info{
    display: block;
}

div.box-category #menu-cate ul li .cate-info .cate-info-left{
    width: 205px;
    padding: 10px 10px 10px 20px;
    float: left;
}

div.box-category #menu-cate ul li .cate-info .cate-info-left ul li{
    height: 30px;
    line-height: 30px;

}

div.box-category #menu-cate ul.sub-menu li a{
    font-size: 12px;
}


div.box-category #menu-cate ul.sub-menu li a:hover{
    color: red;
    text-decoration: underline;
    
  
}

div.box-category #menu-cate ul li .cate-info .cate-info-right{
    float: left;
    width: 234px;
}
ul#cate-menu > li > .cate-infos ul.sub-menu{
    width: 200px;
   
    float: left;
}

ul#cate-menu > li > .cate-infos ul.sub-menu > h3{
    color: #1996E6;
}

ul#cate-menu > li > .cate-infos ul.sub-menu > li{
    height: 30px;
    line-height: 30px;
}

ul#cate-menu > li > .cate-infos ul.sub-menu > li > a:hover{

}

ul#cate-menu > li:hover > .cate-infos{
    display: block;
  
}


.container{
    background: #F5F7FA;
}

.feature-collection{
    float: left;
    width: 100%;
    margin-top: 30px;
}

.feature-collection .garenal{
    background: white;
}

.feature-collection .garenal h3{
    padding: 20px;
}

.feature-collection .garenal h3 a{
    color: #333;
    font-size: 16px;
}


.feature-collection .box1{
    width: 798px;
    padding-bottom: 20px;
    border: 1px #dedede solid;
    float: left;
    margin-right: 20px;
}

.feature-collection .item-feature{
    width: 25%;

    position: relative;
    float: left;
}

.feature-collection .item-feature .off{
    position: absolute;
    top: 0px;
    left: 20px;
    width: 49px;
    height: 46px;
    background: url('../images/TB1fOTfHpXXXXauXFXXnco0HXXX-49-46.png');
}

.feature-collection .item-feature .free{
    position: absolute;
    top: 0px;
    left: 20px;
    width: 49px;
    height: 46px;
    background: url('../images/TB13WfeHpXXXXasXFXXnco0HXXX-49-46.png');
}

.feature-collection .item-feature .tag .first{
    color: white;
    font-size: 14px;
    margin-left: 12px;
}

.feature-collection .item-feature .img-tit{
    width: 100%;
    padding-top: 10px;
    text-align: center;
}


.feature-collection .item-feature .des p.driver a:hover{
    color: #FF7300;
    text-decoration: underline;
}

.feature-collection .item-feature .des p.price{
    color: #999;
}

.feature-collection .item-feature .des p.price span{
    font-size: 16px;
    color: #cc1414;
}

.feature-collection .item-feature .des p.min-order{
    color: #999;
}

.feature-collection .box2{
    width: 374px;
    padding-bottom: 20px;
    border: 1px #dedede solid;
    float: left;
}

.feature-collection .box2 .item-feature{
    width: 50% !important;
}

div.box-product-cate{
    width: 100%;
    float: left;
    margin-top: 20px;
}
div.box-product-cate .title{
	
	float: left;
  background: #8B0F47;
  width: 100%;
  
}

div.box-product-cate a:hover{
    color: #FF771C;
    text-decoration: underline;
}


div.box-product-cate .title h3{
    float: left;
    height: 50px;
    line-height: 50px;
   
}

div.box-product-cate .title h3 a{
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    padding: 0 10px;
}

div.box-product-cate .title h3 span{
    width: 30px;
    height: 50px;
    background: url('../images/categories.png')no-repeat;

}

div.box-product-cate .title h3 span.icon1{
    background-position: 2px 13px;
}

div.box-product-cate .title ul{
    float: left;
    margin-top: 16px;
    margin-left: 30px;
}

div.box-product-cate .title ul li{
    float: left;
    border-right: 1px #dedede solid;
}

div.box-product-cate .title ul li a{
    padding: 7px 15px;
    font-size: 14px;
    color: #fff;
}

div.box-product-cate .title ul li a:hover{
    text-decoration: underline;
}

div.box-product-cate .des .img-box{
    float: left;
    width: 315px;
    background: #FFEBEE;
    height:510px;
}

div.box-product-cate .des .img-box h5{
    color: #ce8c8d;
    font-size: 38px;
    line-height: 1;
    font-weight: 700;
    float: left;
    margin: 30px 0px 0px 30px;

}

div.box-product-cate .des .img-box p.buy-now{
    float: left;
    padding-left: 30px;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

div.box-product-cate .des .img-box p.buy-now img{
    margin-top: 3px;
}

div.box-product-cate .des .img-box .zom-img{
    width: 100%;
    text-align: center;
    height: 300px;
    overflow: hidden;
    padding-top: 30px;
}

div.box-product-cate .des .img-box .zom-img img{
    width: 260px;
    height: 300px;
    margin: 0 auto;
    transition: all ease 0.5s;
}

div.box-product-cate .des .img-box .zom-img img:hover{

    -webkit-transform: scale(1.2);
}

div.box-product-cate .des ul.group-product{
    width: 880px;
    height: 510px;
    border: 1px #dedede solid;
    float: left;
    background: white;
}

div.box-product-cate ul.group-product li{
    float: left;
    width: 219px;
    border-right: 1px #dedede solid;
    border-bottom: 1px #dedede solid;
    height: 50%;
    cursor: pointer;
}

div.box-product-cate ul.group-product li:hover{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 10);

}

div.box-product-cate ul.group-product li .content{
    text-align: center;
    padding-top: 10px;
}


div.user-guide{
    padding-top: 30px;
  background: #F5F7FA;
}

div.user-guide a:hover{
    color:#FF771C;
    text-decoration: underline;
}

div.user-guide .inner{
    float: left;
    width: 400px;
   background: white;
   padding-top: 20px;
}

div.user-guide .inner .img-tit{
    width: 50px;
    float: left;
    margin-left: 15px;
}

div.user-guide .inner .img-tit span{
    width: 34px;
    height: 34px;
    background: url('../images/user-guide.png') no-repeat;
    background-position: 0px 0px;
}

div.user-guide .inner .img-tit1 span{
    width: 34px;
    height: 34px;
    background: url('../images/user-guide.png') no-repeat;
    background-position: 0px -50px;
}

div.user-guide .inner .img-tit2 span{
    width: 34px;
    height: 34px;
    background: url('../images/user-guide.png') no-repeat;
    background-position: 0px -100px;
}

div.user-guide .inner .desc{
    float: left;
    width: 300px;
    height: 150px;
}

div.user-guide .desc h3{
    padding-bottom: 10px;
    font-size: 22px;
    color: #161616;
    font-weight: 400;
}

div.user-guide .desc p{
    margin: 0;
    min-height: 64px;
    color: #999;
    line-height: 18px;
    font-size: 12px;
}

.more-help{
    background: #F5F7FA;
    padding-top: 30px;
}

.more-help .box-help{
    float: left;
    width: 100%;
    border-bottom: 1px #dedede solid;   
    padding-bottom: 10px;
}

.more-help .help-item{
    width: 20%;
    float: left;
}

.more-help .help-item h3{
    color: #333;
    font-size: 16px;
    font-weight: 500;
}

.more-help .help-item p a{
    color: #666;
    font-size: 14px;
}
.more-help .help-item p a:hover{
    text-decoration: underline;
}


.preferred-partners {
  padding: 15px 0px 12px;
  border-width: 1px 0;
  float: left;
  width: 100%;
  border-top: 1px #dedede solid;
  border-bottom: 1px #dedede solid;
  font-size: 14px;
}

.preferred-partners > h3 {
  float: left;
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: #666;
  font-size: 16px;
  line-height: 44px;
}

.preferred-partners p{
    font-size: 12px;
    color: #666;
}

.text-bot{
    border-bottom: 0px;
}

div#footer{
    background: #F5F7FA !important;
}
.view a{background: #f60;padding: 10px 15px;  position: relative;color: #fff;font-weight: bold;}
.view a:before{
	
  display: inline-block;
  content: "";
  position: absolute;
  right: -20px;
  top: -3px;
   border-bottom: 20px solid transparent;
  border-top: 20px solid transparent;
  height: 0;
  width: 0;
  border-left: 20px solid #f60;
}
