
<div class="slide">
                            <div class="slider">
                                <ul class="bxslider">
                                {foreach from=$gallery_p2 key=k item=list}
                                    <li><img src="{$list.img}" title="" alt="{$list.alt}"/></li>
                                      {/foreach}
                                </ul>
                            </div>


</div>
