<form action="" method="post" enctype="multipart/form-data">
<fieldset>
<legend>UPLOAD DỮ LIỆU SẢN PHẨM</legend>
<label for="file">Tên file:</label>
<table>
<tr>
<td>
<input type="file" name="file2" id="file2"><br>
</td>
<td>
<input type="submit" name="submit_img" value="Tải lên">
</td>
</tr>
<tr>
		<td colspan="2">
					Bạn chọn các file <br />
		</td>
</tr>
</table>
</fieldset>
</form>
