
  {foreach from=$pro_new item=list}
 <div class="item mwap-x100">
   <a href="{$list.link}"><img src="{$list.img}"></a> 
    <p><a href="">{$list.name} </a></p>
    <p class="price"><span>{$list.price_sale}</span></p>
    {if $list.promotions neq 0}
    <p class="mqq">Giá cũ:{$list.price_old}</b></p>
    {/if}
    <p class="order">({$list.view}) Lượt view </p>
  </div>
   {/foreach}