   {literal}
        <script>
            $(document).ready(function() {
                $('.bxsliders').bxSlider({
                    auto: true,
                    autoControls: true,
                    minSlides: 4,
                    maxSlides: 4

                });// bxslider

                $('ul.list-info li .des').hover(function() {
                    $(this).find('div.wap-detailts').slideDown(300);
                }, function() {
                    $(this).find('div.wap-detailts').slideUp(300);
                    $('ul.list-info li:last-child').find('.des div.wap-detailts').addClass('active');

                });

                $('ul.list-info li:last-child').find('.des div.wap-detailts').css('display', 'block');

            });

        </script>
        {/literal}

  <div class="content pad-top">
                <div class="use ">
                    <div class="category-left">

                        <h3>Danh mục sản phẩm</h3>
                        <div class="clear"></div>
                        <ul>
                            <div class="showmore_one">
                            {foreach from = $cat_child item=list}
                                <li><a href="{$list.link}">{$list.name} </a><span>({$list.number})</span></li>

                            {/foreach}
                            </div>
                        </ul>

                        <h3>Top Category</h3>
                        <ul>
                            <li><a href="">Mosaics</a></li>
                        </ul>

                        <h3>Material</h3>
                        <ul>
                            <div class="block showmore_tow">
                                <li><a href="">Blues </a><span>(14024)</span></li>
                                <li><a href="">Yellows / Golds </a><span>(16429)</span></li>
                                <li><a href="">Gray </a><span>(26037)</span></li>
                                <li><a href="">Whites </a><span>(26037)</span></li>
                                <li><a href="">Blues </a><span>(14024)</span></li>
                                <li><a href="">Yellows / Golds </a><span>(16429)</span></li>
                                <li><a href="">Gray </a><span>(26037)</span></li>
                                <li><a href="">Whites </a><span>(26037)</span></li>
                            </div><!-- .block -->
                        </ul>

                        <h3>Color Family</h3>
                        <ul>
                            <li><a href="">Blues </a><span>(14024)</span></li>
                            <li><a href="">Yellows / Golds </a><span>(16429)</span></li>
                            <li><a href="">Gray </a><span>(26037)</span></li>
                            <li><a href="">Whites </a><span>(26037)</span></li>
                            <li class="view-more"><a href="">View more </a><span class="arrow"></span></li>
                        </ul>


                    </div><!--end .category-left-->


                    <div class="box-container">

                            <div class="backcrum">
                        <span>
                           <h1>{$cate}</h1>
                        </span>
                        </div>


                       <p>Kết quả tìm kiếm với từ khóa <font color="#f00">"{$key}"</font> có <font color="#f00"> {$number}</font> sản phẩm</p>

                        <div class="content" style="padding-top: 20px;">
                        {foreach from = $result item = list}
                            <div class="item-product">
                                {include file="../elements/product.tpl"}

                                <div class="hide-box">
                                    <div class="img-tit">
                                        <a href="{$list.link}">
                                            <img src="{$list.img}">
                                        </a>
                                        <div class="favo">
                                            <span><a href="">{$list.view}(Lượt view)</a></span>

                                        </div>

                                    </div>
                                    <div class="desc">

                                        <a href="">{$list.name}</a>
                                        <p class="min-order">{$list.price_sale}<span></span></p>
                                         {if $list.promotions neq 0}<p class="min-order">{$list.price_old}<span>{$list.type}</span></p>{/if}

                                        <a href="" class="desc-a">{$info.contact}</a>

                                    </div>
                                <!--
                                    <div class="bot">
                                        <span class="icon"></span>
                                        <a href="#">Chat Now! </a>

                                        <a href="#" class="contact-list">Contact Details <i class="icon"></i></a>
                                    </div>
                                  -->
                                </div>

                            </div>
                        {/foreach}


                        </div>

                        <div class="pagging">
                                   {if $fields > $pagesize}<div class="paging">{$paging}</div>{/if}

                        </div><!--end .pagging-->



                        <div class="content see-more">
                            <div class="title">
                                <h3>Sản phẩm<span class="mosaic">&nbsp;&nbsp;vừa xem</span>:</h3>



                            </div>
                             <div id="ProductViewList" class="box-items">
		                                 </div>


                        </div><!--end .see-more-->

                        <div class="content AliSource ">
                            <div class="box-alisource AliSource-left">

                                <p class="title">Haven't found the right supplier yet ?</p>
                                <h4><span class="ico-rfq"></span>AliSource<em>Pro</em></h4>
                                <p class="detailts">1 request,multiple quotations<br>
                                    1-click quotation comparison<br>
                                    OEM,ODM &amp; multi-category buying
                                </p>

                                <p class="link"><a href="">Get Quotations Now >></a></p>

                            </div>
                            <div class="box-alisource AliSource-right">
                                <p class="title">Haven't found the right supplier yet ?</p>
                                <h4><span class="ico-rfq"></span>AliSource<em>Pro</em></h4>
                                <p class="detailts">1 request,multiple quotations<br>
                                    1-click quotation comparison<br>
                                    OEM,ODM &amp; multi-category buying
                                </p>

                                <p class="link"><a href="">Get Quotations Now >></a></p>
                            </div>
                        </div>

                        <div class="content the-end">
                            <p>Do you want to show mosaic or other products of your own company? <a href="">Display your Products FREE now! </a></p>
                        </div>

                    </div><!--end .box-container-->




                </div><!--end .box-container-->

                <div class="content-right">
                    <h3>Sản phẩm nổi bật</h3>
                    <div class="item10">
                        <ul>
                        {foreach from = $vip item = list}
                           {include file="../elements/product.tpl"}
                         {/foreach}

                        </ul>
                    </div>

                </div><!--end .content-right-->



            </div><!--end .box-container-->
        </div><!--end .content-->