<script src="webroot/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="webroot/js/load_map.js"></script>

<h3>{$result.name}</h3>
<div id="LoadMap" style="width:100%; height:460px;" class=""></div>
<div style="display: none;">
	<label>latitude: </label><input id="txtPositionY" type="text"/>
	<label>longitude: </label><input id="txtPositionX" type="text"/>
</div>
<p class="align-rgt"><a href="javascript:void(0)" class="Close">Ok</a></p>
