<!-- <div id="menu-cate">
                            <span >DANH MỤC SẢN PHẨM</span>
                            <ul id="cate-menu">
                          {foreach from=$gcategory key = k item=cate}
                                <li> 
                                    <i class='cate-icon cate-icon-0{$k+1}'></i>
                                    <a href="{$cate.link}">{$cate.name}</a>
                                    {if $cate.child neq NULL}
                                    <div class="cate-infos">
                                    {foreach from=$cate.child item=sub1}
                                        <ul class="sub-menu">
                                           <h3><a href="{$sub1.link}">{$sub1.name}</a></h3>
                                            {foreach from=$sub1.child item=sub2}
                                            <li>
                                                <a href="{$sub2.link}">{$sub2.name}</a>
                                            </li>
                                           {/foreach}
                                            
                                        </ul>
                                     {/foreach}   

                                    </div>
                                    {/if}
                                </li>
								{/foreach}
                                 <li><a href="" class="link-all-cate">All categories &gt;</a></li>
                            </ul>
                           
                        </div><!--#cate-menu-->
                 
                   <div id="menu-cate">
                        <span>DANH MỤC SẢN PHẨM</span>
                        <ul id="cate-menu">
                          {foreach from=$gcategory key = k item=cate}
                                <li> 
                                  
                                    <a href="{$cate.link}">{$cate.name}</a>
                                    {if $cate.child neq NULL}
                                    <div class="cate-infos">
                                    {foreach from=$cate.child item=sub1}
                                        <ul class="sub-menu">
                                           <h3><a href="{$sub1.link}">{$sub1.name}</a></h3>
                                            {foreach from=$sub1.child item=sub2}
                                            <li>
                                                <a href="{$sub2.link}">{$sub2.name}</a>
                                            </li>
                                           {/foreach}
                                            
                                        </ul>
                                     {/foreach}   

                                    </div>
                                    {/if}
                                </li>
								{/foreach}
                                 <li><a href="" class="link-all-cate">All categories &gt;</a></li>
                            </ul>

                    </div><!--#cate-menu-->