<h1 class="bor-btm ">Chứng khoán</h1>

<script>
function switchActive(i){
		if(i == 0){
			document.getElementById('cHoSTC').className = 'cActive';
			document.getElementById('cHaSTC').className = 'cNoActive';
			document.getElementById('aHoSTC').className = 'Active';
			document.getElementById('aHaSTC').className = 'NoActive';
		}
		else{
			document.getElementById('cHoSTC').className = 'cNoActive';
			document.getElementById('cHaSTC').className = 'cActive';
			document.getElementById('aHoSTC').className = 'NoActive';
			document.getElementById('aHaSTC').className = 'Active';
		}
	}

</script>

<TABLE cellSpacing=0 cellPadding=0 border=0 width="300">
              <TBODY>
              <TR>
                <TD vAlign=top width="100%">
                  <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
                    <TBODY>
                    <TR>
                       <TD class=cActive id=cHoSTC align="center" valign="middle" width=58 
                      height=20 alt=""><A class=Active id=aHoSTC 
                        onclick=switchActive(0); 
                        href="http://www.vnexpress.net/User/ck/hcms/HCMStockSmall.asp" 
                        target=ifrmContent>HoSTC</A></TD>
                         <TD class=cNoActive id=cHaSTC align="center" valign="middle" width=58 
                      height=20 alt=""><A class=NoActive id=aHaSTC 
                        onclick=switchActive(1); 
                        href="http://www.vnexpress.net/User/ck/hns/HNStockSmall.asp" 
                        target=ifrmContent>HaSTC</A></TD>
                      </TR></TBODY></TABLE>
                  <TABLE class=tbHeader cellSpacing=1 cellPadding=1 width="100%"
                  border=0>
                    <TBODY>
                    <TR align=middle>
                      <TD class=cHeader align=middle width=25 rowSpan=2>Mã CK</TD>
                      <TD class=cHeader align=middle width=28 rowSpan=2>TC</TD>
                      <TD class=cHeader noWrap align=middle 
                        colSpan=2>Khớp lệnh</TD>
                      <TD class=cHeader align=middle width=36 
                    rowSpan=2>+/-</TD>
                    </TR>
                    <TR>
                      <TD class=cHeaderN align=middle width=30>Giá</TD>
                  	  <TD class=cHeaderN align=middle width=30>KL</TD>
                    </TR></TBODY></TABLE><IFRAME id=ifrmContent 
                  border=false name=ifrmContent 
                  src="http://www.vnexpress.net/User/ck/hns/HNStockSmall.asp" 
                  frameBorder=0 noResize width="100%" scrolling=no 
                  height=200></IFRAME>

                </TD></TR></TBODY></TABLE>
            </TD></TR></TBODY></TABLE>
<link rel="stylesheet" href="<?php echo $mosConfig_live_site; ?>/modules/mod_chungkhoan/mod_chungkhoan/chungkhoan.css" type="text/css" />
<script type="text/javascript" language="JavaScript" src="<?php echo $mosConfig_live_site; ?>/modules/mod_chungkhoan/mod_chungkhoan/chungkhoan.js"></script>
	