
  <div class="bor-top mwap-x100">
		<div class="use">
			<div class="pad">{$info.description}</div>
		</div>
	</div>
	<div class="align-rgt pad finfo">
	<p><a href="http://niceweb.vn">Copyright © 2015 by Niceweb.vn</a></p>
	</div>