  <div class="header" >
  <div class="menu-top" style="background-color: greenyellow">
                <div class="use">
                    
                        <div class="sing-join">
                          
                        </div><!--end .sing-join-->
						 <div class="sing-join">
                         Hotline: {$info.phone}
                        </div><!--end .sing-join-->
                        <div class="box-menu-header">
                          
                        </div><!--end .box-menu-header-->

                        <div class="menu-right">
                            <ul id="my-alibaba" class="menu-header">  
                               
                                 {$menu_p3}
                              
                            </ul><!--end .menu .my-alibaba-->


                        </div>
                        <div class="clear"></div>
                    </div><!--end .menu-top-->

                    <div class="box-search">
                    <div class="use">
                     <div class="mcategory mwap-x10"><span id="mCate"></span></div>
                    {foreach from=$gallery_p1 key=k item=list}
		            {if $list.type eq 1}
                        <div class="logo mwap-x70">
                       
                            <a href="./"><img src="{$list.img}"  width="200" height="60"/></a>
                        </div>
                    {else}
			                    <object width="100%" height="163"
						classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
						codebase="http://fpdownload.macromedia.com/
						pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0">
						<param name="SRC" value="{$list.img}">
						<embed src="{$list.img}" width="100%" height="160"></embed>
					</object>
					{/if}
					{/foreach}
                     <div class="mcategory mwap-x20"><span id="mSearch"></span></div>
                        <div class="form-search mar-top mform-search">
                           <form action="./timkiem" method="get">
                            <div class="text-search">
                                <input type="text" name="key" class="keyword" id="regionsearch" placeholder="Nhập từ khóa tìm kiếm" value="{$key}">
                            <div class="submit-search">
                                <input type="submit" name="oke" value="Tìm kiếm" />
                            </div>
                            </div>
                            
                            </form>
                        </div><!--end .form-search-->
                        <div style="float: left"><a href="cart.html"><img style="margin: 15px 0 10px 0;
    padding-left: 42px;" src="uploads/ck_upload/_thumbs/Images/online-store.png"></a>
                        </div>
                        <div class='cart-order-favori mar-top' style="float: right!important;">
                            <div class='garenal cart' style="padding-right: 7px!important;">
                                {if $member eq NULL}
                            <a href="dang-nhap.html">Đăng nhập</a> | <a href="dang-ky.html">Đăng ký</a>
                          {else}
                          <a href="javascript:void(0)">Hi, {$member.name}</a> | <a href="?mod=member&site=logout">Đăng xuất</a>
                          {/if}
                            </div>

                        </div>
                        <div class="clear"></div>
                     </div>
                      
                    </div><!--end .box-search-->

                   
                </div>
               <div class="clear"></div>
              <!--  <div id="mCate"><h3><a href="javascript:void(0)">TOÀN BỘ DANH MỤC</a></h3></div> -->
              
<!--             <div id="mMenuItem">
	            <ul id="">
	            {foreach from=$gcategory key = k item=cate}
                                <li> 
                                  
                                    <a href="{$cate.link}">{$cate.name}</a>
                                    {if $cate.child neq NULL}
                                    <div class="cate-infos">
                                    {foreach from=$cate.child item=sub1}
                                        <ul class="sub-menu">
                                           <h3><a href="{$sub1.link}">{$sub1.name}</a></h3>
                                            {foreach from=$sub1.child item=sub2}
                                            <li>
                                                <a href="{$sub2.link}">{$sub2.name}</a>
                                            </li>
                                           {/foreach}
                                            
                                        </ul>
                                     {/foreach}   

                                    </div>
                                    {/if}
                                </li>
								{/foreach}
	            </ul>
	            
	            </div>
	            
           
            </div>
            
            -->