                <h3>Danh mục sản phẩm</h3>
          <ul class="groups-list">
           {foreach from=$gcategory item=cate}
            <li class="groups-item"><i class="i-group-item"></i><a href="{$cate.link}">{$cate.name}</a>
              <ul class="show-group-item">
                {foreach from=$cate.child item=sub1}
              <li><i class="i-child-item"></i><a href="{$sub1.link}">{$sub1.name}</a></li>
              {/foreach}
              
              </ul>
             </li>
           {/foreach}
          </ul>
                     <h3>Sản phẩm xem nhiều</h3>
                  
                        <ul>
                        {foreach from = $max_view item = list}
                           {include file="../elements/product.tpl"}
                         {/foreach}
                           
                        </ul>