
    <li class="mwap-x100">
                                <div class="tit">
                                    <a href="{$list.link}"><img src="{$list.img}" width="150" height="150"/></a>
                                </div>
                                <div class="desc">
                                    <a href="{$list.link}"><span>{$list.name}</span></a>
                                    <p><span class="price">{$list.price_sale}</span>
						    
						       {if $list.promotions neq 0}
						       <p style="text-decoration: line-through">{$list.price_old}<span>/{$list.type}</span></del>
						       {/if}
						      </p>
                                </div>
                                
                            </li>