#left-nav, #left-nav ul {
padding: 0;
margin: 0;
list-style: none;
float:left;
}
.left-nav  {

	margin-bottom:10px;
height:218px;

}
#left-nav li {
float: left;
position: relative;
font-family: Arial;
margin-right: 4px;
padding-right: 4px;
line-height:30px;
font-weight:normal;
margin-left:10px;
clear:both;
width:206px;
margin-top:6px;
}
#left-nav li a:link{
text-decoration: none;
padding-left: 1em;
color: #000;
font-size:100%;
font-weight:normal;
}
#left-nav li a:visited
{
display: block;
text-decoration: none;
padding-left: 1em;
color: #000;
font-weight:bold;
text-decoration:underline;
}
#left-nav li a:hover {
	color: #DB2827;
}

#left-nav ul a:link{
text-decoration: none;
padding-left: 1em;
color: #072957;
font-size:110%;
}
#left-nav ul a:visited
{
display: block;
text-decoration: none;
padding-left: 1em;
color: #072957;
}
#left-nav ul a:hover {
	}



#left-nav ul {
display: none;
position: absolute;
top: 1.3em;
left: 0;
padding-top: 0.5em;
}
#left-nav ul li {
float: none;
background-color: #FFFFFF;
font-size: 100%;
margin: 0;
padding: 0;
border:none;
list-style:circle;
margin-left:25px;
text-indent:-10px;
}
#left-nav li > ul {
top: auto;
left: auto;
}
#left-nav li:hover ul {
display: block;
}



#home-left .moduletable-menu a {

	position: relative;

	color: #fff;

	display: block;

	z-index: 900;

	text-decoration: none;

}

#home-left .moduletable-menu li {

	float: left;

	width: 211px;;

	list-style:none;

	font-size:13px;
	position:relative;
	z-index:1000;
	line-height:32px;

}

#home-left .moduletable-menu li a {

	padding: 0px 14px;

	font-size: 12px;

	line-height: 32px;
position:relative;
	text-decoration: none;
	width:206px;

	height: 32px;
	z-index:1000;

}

#home-left .moduletable-menu li a:hover {

	background : #EC1C23;
	color: #fff;
	text-decoration: none;
	margin-left:0px;
	width:212px;
	position:relative;
	z-index:1000;
}
#home-left  .navli a:hover {
	text-decoration: none;
	background:none;
	margin-left:-1px;
	width:211px;
	position:relative;
	z-index:1000;
}
#home-left .moduletable-menu li a:visited {

}

#home-left .moduletable-menu li.first a {

	background: none;

}

#home-left .moduletable-menu li.last a {

	padding-right: 0px !important;

}

#home-left .moduletable-menu li a.sf-with-ul {

}

#home-left .moduletable-menu li ul {

	
	position: absolute;

	left: -999em;

	border-top:none;


	z-index: 999;


}

#home-left .moduletable-menu li ul li {


	transition: 0.1s;

}

#home-left .moduletable-menu li ul li a, #home-left .moduletable-menu li ul li a:visited {


	color: #555;

	font-size: 12px;

	font-weight: normal;

}

#home-left .moduletable-menu li ul li a.sf-with-ul {

}

#home-left .moduletable-menu li ul li a:hover {

	background: #fdfdfd;

	color: #c53535;

	font-weight:bold;

}

#home-left .moduletable-menu li ul ul {

	margin: -29px 0px 0px 158px;

}

#home-left .moduletable-menu li ul ul li a {

}

#home-left .moduletable-menu li ul li ul li a {

}

#home-left .moduletable-menu li:hover, #home-left .moduletable-menu li.hover {

	position: static;

}

#home-left .moduletable-menu li:hover ul ul, #home-left .moduletable-menu li.sfhover ul ul, #home-left .moduletable-menu li:hover ul ul ul, #home-left .moduletable-menu li.sfhover ul ul ul, #home-left .moduletable-menu li:hover ul ul ul ul, #home-left .moduletable-menu li.sfhover ul ul ul ul {

	left: -999em;

}

#home-left .moduletable-menu li:hover ul, #home-left .moduletable-menu li.sfhover ul, #home-left .moduletable-menu li li:hover ul, #home-left .moduletable-menu li li.sfhover ul, #home-left .moduletable-menu li li li:hover ul, #home-left .moduletable-menu li li li.sfhover ul, #home-left .moduletable-menu li li li li:hover ul, #home-left .moduletable-menu li li li li.sfhover ul {

	left: auto;

}

/* topleft-nav indicator */



#home-left .moduletable-menu .sf-sub-indicator {

	display: none;

}

#home-left .moduletable-menu li ul .sf-sub-indicator {

	background: url(images/icon-arrow-right.png) no-repeat;

	position: absolute;

	display: block;

	right: 0.4em;

	top: 0.9em;

	width: 10px;

	height: 10px;

	text-indent: -999em;

	overflow: hidden;

}

/* End Top Menu CSS */
.title {
	background: none repeat scroll 0 0 #EC1C23;
    color: #FFFFFF;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    margin: 1px;
    padding-left: 20px;
    text-transform: uppercase;
    width: 219px;
}

#drop-links {
	float:left;
	width:206px;
	height:253px;
	border:1px solid #DB2827;
	box-shadow: 0 0 2px 2px #ccc;
	margin-top:4px;
	margin-left:-45px;
	background: #fff;
	position:relative;
	z-index:2000;
}

#drop-links li {
	list-style:none;
}

#thuc-pham {
	background: #000;
	position:relative;
	z-index:2000;
}
#vat-dung-cham-soc-be {
	background: url(thuc-pham-cho-be.jpg) right bottom no-repeat #fff;
	position:relative;
	z-index:2000;
	margin-top:-61px;
}


#vat-dung-cham-soc-be li {
	float:left;
	width:200px;
}

#bim-ta {
	background: url(thuc-pham-cho-be.jpg) right bottom no-repeat #fff;
	position:relative;
	z-index:2000;
	margin-top:-91px;
}
#do-choi-cho-be {
	background: url(thuc-pham-cho-be.jpg) right bottom no-repeat #fff;
	position:relative;
	z-index:2000;
	margin-top:-121px;
}

#tam-duong-da {
	background: url(thuc-pham-cho-be.jpg) right bottom no-repeat #fff;
	position:relative;
	z-index:2000;
	margin-top:-151px;
}

#quan-ao-phu-kien {
	background: url(thuc-pham-cho-be.jpg) right bottom no-repeat #fff;
	position:relative;
	z-index:2000;
	margin-top:-181px;
}
#xe-day-ghe-diu {
	background: url(thuc-pham-cho-be.jpg) right bottom no-repeat #fff;
	position:relative;
	z-index:2000;
	margin-top:-211px;
}
#noi-cui-chan-goi {
	background: url(thuc-pham-cho-be.jpg) right bottom no-repeat #fff;
	position:relative;
	z-index:2000;
	margin-top:-241px;
}
#sach-hoc-cu {
	background: url(thuc-pham-cho-be.jpg) right bottom no-repeat #fff;
	position:relative;
	z-index:2000;
	margin-top:-271px;
}





#links-1 {
	width:460px;
	height:254px;
	border-bottom: 1px solid #DB2827;
    border-right: 1px solid #DB2827;
    border-top: 1px solid #DB2827;
	margin-top:-48px;
	background:url(thuc-pham-cho-be.jpg) right bottom no-repeat #fff;
	margin-left:197px;
	position:relative;
	z-index:2000;
}



#links-2 {
	width:460px;
	height:254px;
	border-bottom: 1px solid #DB2827;
    border-right: 1px solid #DB2827;
    border-top: 1px solid #DB2827;
	margin-top:-94px;
	background:url(vat-dung-cho-be.jpg) right bottom no-repeat #fff;
	margin-left:197px;
	position:relative;
	z-index:2000;
}



#links-3 {
	width:460px;
	height:254px;
	border-bottom: 1px solid #DB2827;
    border-right: 1px solid #DB2827;
    border-top: 1px solid #DB2827;
	margin-top:-119px;
	background:url(bim-ta.jpg) right bottom no-repeat #fff;
	margin-left:197px;
	position:relative;
	z-index:2000;
}



#links-4 {
	width:460px;
	height:254px;
	border-bottom: 1px solid #DB2827;
    border-right: 1px solid #DB2827;
    border-top: 1px solid #DB2827;
	margin-top:-145px;
	background:url(do-choi.jpg) right bottom no-repeat #fff;
	margin-left:197px;
	position:relative;
	z-index:2000;
}



#links-5 {
	width:460px;
	height:254px;
	border-bottom: 1px solid #DB2827;
    border-right: 1px solid #DB2827;
    border-top: 1px solid #DB2827;
	margin-top:-170px;
	background:url(tam-duong-da.jpg) right bottom no-repeat #fff;
	margin-left:197px;
	position:relative;
	z-index:2000;
}


#links-6 {
	width:460px;
	height:254px;
	border-bottom: 1px solid #DB2827;
    border-right: 1px solid #DB2827;
    border-top: 1px solid #DB2827;
	margin-top:-196px;
	background:url(quan-ao.jpg) right bottom no-repeat #fff;
	margin-left:197px;
	position:relative;
	z-index:2000;
}



#links-7 {
	width:460px;
	height:254px;
	border-bottom: 1px solid #DB2827;
    border-right: 1px solid #DB2827;
    border-top: 1px solid #DB2827;
	margin-top:-221px;
	background:url(xe-day.jpg) right bottom no-repeat #fff;
	margin-left:197px;
	position:relative;
	z-index:2000;
}



#links-8 {
	width:460px;
	height:254px;
	border-bottom: 1px solid #DB2827;
    border-right: 1px solid #DB2827;
    border-top: 1px solid #DB2827;
	margin-top:-247px;
	background:url(sach-hoc-cu.jpg) right bottom no-repeat #fff;
	margin-left:197px;
	position:relative;
	z-index:2000;
}

.links-1 {
	float:left;
	width:200px;
	margin-left:25px;
	padding-bottom:5px;
	padding-top:5px;
	font-size:100%;
}
.links-1 a {
	font-weight:normal;
	font-size:100%;
}
.navli {
	margin-bottom:2px;
}
.navli a:hover {
	background:none;
	color:#000;
}