#nav, #nav ul {
padding: 0;
margin: 0;
list-style: none;
}
#nav  {
}
#nav ul {
	margin-top:-2px;
}
#nav li {
float: left;
position: relative;
font-family: Arial;

}
#nav li a:link{
text-decoration: none;
color: #da251c;
font-size:110%;
}
#nav li a:visited
{
display: block;
text-decoration: none;
color: #da251c;
}
#nav li a:hover {
	color: #072957;
}

#nav ul a:link{
text-decoration: none;
padding-left: 1em;
color: #072957;
font-size:110%;
}
#nav ul a:visited
{
display: block;
text-decoration: none;
padding-left: 1em;
color: #072957;
}
#nav ul a:hover {
	color:#000;
}



#nav ul {
display: none;
position: absolute;
top: 1.3em;
left: 0;
padding-top: 0.5em;
}
#nav ul li {
float: none;
background-color: #FFFFFF;
font-size: 100%;
margin: 0;
padding: 0;
border:none;
list-style:circle;
margin-bottom:8px;
margin-left:25px;
text-indent:-10px;
}
#nav li > ul {
top: auto;
left: auto;
}
#nav li:hover ul {
display: block;
}
