#topmenu-nav {
padding: 0;
margin: 0;
list-style: none;

}
#topmenu-nav  {
}
#topmenu-nav li {
float: left;
position: relative;
font-family: Arial;
margin-right: 0px;
margin-top:-1px;


}
#topmenu-nav li a:link{
text-decoration: none;
padding-left: 33px;
padding-right: 33px;
color: #fff;
font-size:100%;
font-weight:bold;
}
#topmenu-nav li a:visited
{
display: block;
text-decoration: none;
padding-left: 1em;
color: #fff;
}
#topmenu-nav li a:hover {
	color: #FF0000;
}

#topmenu-nav ul a:link{
text-decoration: none;
padding-left: 1em;
color: #072957;
font-size:110%;
font-weight:normal;
}
#topmenu-nav ul a:visited
{
display: block;
text-decoration: none;
padding-left: 1em;
color: #072957;
}
#topmenu-nav ul a:hover {
	}



#topmenu-nav ul {
display: none;
position: absolute;
top:0;
left: 0;
}
#topmenu-nav ul li {
float: none;
background-color: #FFFFFF;
font-size: 100%;
margin: 0;
padding: 0;
border:none;
list-style:circle;
margin-left:25px;
text-indent:-10px;
}
#topmenu-nav ul li a:hover {
	background:none;
	text-decoration:underline;
}
#topmenu-nav li > ul {
top: auto;
left: auto;
}
#topmenu-nav li:hover ul {
display: block;
}
#san-pham {
	width:492px;
	padding:7px;
	border:3px solid #F00;
	margin-left:-100px;
	background:#fff;
	box-shadow: 0 5px 4px 2px #CCCCCC;
	padding-bottom:8px;
	position:relative;
	z-index:10000;
}

.khuyen-mai {
	width:220px;
	padding:7px;
	border:3px solid #F00;
	margin-left:-100px;
	background:#fff;
	box-shadow: 0 5px 4px 2px #CCCCCC;
	padding-bottom:10px;
	position:relative;
	z-index:10000;
}
#dich-vu-ky-thuat {
	width:580px;
	padding:7px;
	border:3px solid #F00;
	margin-left:-210px;
	background:#fff;
	box-shadow: 0 5px 4px 2px #CCCCCC;
	padding-bottom:0;
	position:relative;
	z-index:10000;
}
.dich-vu-ky-thuat {
        float:left;
	width:275px;
	padding:5px;
	margin-right:7px;
	border:1px solid #ccc;
	margin-bottom:7px;
	padding-bottom:10px;
	position:relative;
	z-index:10000;
text-align : center;

}

#dich-vu-cho-thue {
	width:580px;
	padding:7px;
	border:3px solid #F00;
	margin-left:-210px;
	background:#fff;
	box-shadow: 0 5px 4px 2px #CCCCCC;
	padding-bottom:0;
	position:relative;
	z-index:10000;
}
.dich-vu-cho-thue {
        float:left;
height : 150px;
	width:275px;
	padding:5px;
	margin-right:7px;
	border:1px solid #ccc;
	margin-bottom:7px;
	padding-bottom:10px;
	position:relative;
	z-index:10000;

}
#muc-in {
	width:984px;
	padding:7px;
	min-height:200px;
	border:3px solid #F00;
	margin-left:-557px;
	background:#fff;
	box-shadow: 0 5px 4px 2px #CCCCCC;
	padding-bottom:0;
}
#linh-kien {
	width:984px;
	padding:7px;
	border:3px solid #F00;
	margin-left:-658px;
	background:#fff;
	box-shadow: 0 5px 4px 2px #CCCCCC;
	padding-bottom:0;
}
.san-pham, .muc-in {
	float:left;
	width:229px;
	padding:5px;
	margin-right:7px;
	border:1px solid #ccc;
	margin-bottom:7px;
	padding-bottom:10px;
	position:relative;
	z-index:10000;
}

.linh-kien {
	float:left;
	width:229px;
	padding:5px;
	margin-right:7px;
	border:1px solid #ccc;
	margin-bottom:7px;
	padding-bottom:10px;
}



.navli {
	text-align:left;
	font-size:12px;
	margin-bottom:-9px;
	width:245px;
	float:left;
}
.navli a {
	font-size:12px;
}
.navli a:hover {
	background:none;
}

#may-tinh, #may-anh {
	width:220px;
	padding:7px;
	border:3px solid #F00;
	margin-left:-100px;
	background:#fff;
	box-shadow: 0 5px 4px 2px #CCCCCC;
	padding-bottom:10px;
}