<h1 class="title">{$value.name}</h1>

<!-- 
{$backcrum}
 -->
<div class="">
	<div class="content">
		<!-- 
		<h1 class="mar-btm">{$value.name}</h1>
		<p class="mar-mid">{$value.created}</p> 
		<div class="wap-x50">
			<div class="img mar-2rgt mar-btm mar-stop"><img alt="{$value.alt}" src="{$value.img}"></div>
		</div>
		<h3 class="bold mar-2btm align-jus">{$value.description}</h3>	
		-->
		<!-- <div class="mar-btm">{$value.description}</div> -->					
		<div class="content">{$value.content}</div>
		<div class="clear"></div>
		
	</div>

 
<!-- 	{if $other neq NULL}
	<div class="mar-top">
		<h2 class="bor-btm">Các tin khác</h2>
		<div class="mar-mid" id="news_other">
			{foreach from=$other key=k item=list}
			<p class="mar-btm"><a href="{$list.link}">{$list.name} ({$list.created})</a></p>
			{/foreach}
		</div>
	</div>
	{/if}

	{if $other neq NULL}
	<div class="mar-3top">
		<h2 class="bor-btm">Tin xem nhiều nhất</h2>
		<div class="mar-mid" id="news_other">
			{foreach from=$hot key=k item=list}
			<p class="mar-btm"><a href="{$list.link}">{$list.name} ({$list.created})</a></p>
			{/foreach}
		</div>
	</div>
	{/if}
 -->
</div>
